%h1=h @article.title
-if @redirected_from
  -if admin?
    %p==(Redirected from #{link_to h(@redirected_from.title), edit_wiki_path(@redirected_from)})
  -else
    %p==(Redirected from #{h @redirected_from.title})
.article
  =preserve @article.body.w
.cloud
  %h1 Tags
  -# consider moving this into a partial
  -for tag in @article.tags
    =scaled_tag tag
%p.links
  -if admin?
    =link_to 'edit', edit_wiki_path(@article)
  =link_to 'back', wiki_index_path
