.pagination=@paginator.pagination_links if @paginator
-for issue in @issues
  %div[issue]
    %h2
      =h issue.summary
      by
      =link_to_user issue.user
    .when=timeinfo issue
    %div=issue.description.w
    .links
      %form{:id => "issue_#{issue.id}_destroy_form", :style => 'display:inline;'}
        =submit_to_remote 'button', 'destroy', :url => issue_path(issue), :method => :delete, :failure => "alert('Failed to delete')", :confirm => 'Really delete?'
      %form{:id => "issue_#{issue.id}_spam_form", :style => 'display:inline;'}
        =submit_to_remote 'button', 'spam', :url => issue_path(issue), :method => :put, :failure => "alert('Failed to mark as spam')", :confirm => 'Really mark as spam?'
      %form{:id => "issue_#{issue.id}_ham_form", :style => 'display:inline;'}
        =submit_to_remote 'button', 'ham', :url => issue_path(issue), :method => :put, :failure => "alert('Failed to mark as ham')"
.pagination=@paginator.pagination_links if @paginator
.links
  =link_to 'public issues index', issues_path
