-content_for :javascript do
  =javascript_include_tag 'ajax'
-@page_title = 'Issue moderation'
=breadcrumbs link_to('Dashboard', admin_dashboard_path), @page_title
%h1.major=@page_title
.pagination=@paginator.pagination_links if @paginator
-for issue in @issues
  %div[issue]
    %h2
      =issue.summary
      by
      =link_to_user issue.user
    .when=timeinfo issue
    -unless issue.description.blank?
      %div=issue.description.w :base_heading_level => 2
    .links
      =link_to 'edit', edit_issue_path(issue)
      -# TODO: make these into a static form which posts to issues#update or destroy
      -# then with unobtrusive JS replace it with the AJAX version
      -button_to_destroy_issue issue
      -button_to_moderate_issue_as_ham issue
.pagination=@paginator.pagination_links if @paginator
.links
  =link_to 'public issues index', issues_path
  =link_to 'refresh', admin_issues_path
