-content_for :javascript do
  =javascript_include_tag 'ajax'
.pagination=@paginator.pagination_links if @paginator
-for issue in @issues
  %div[issue]
    %h2
      =h issue.summary
      by
      =link_to_user issue.user
    .when=timeinfo issue
    -unless issue.description.blank?
      %div=issue.description.w :base_heading_level => 2
    .links
      =link_to 'edit', edit_issue_url(issue)
      =button_to_destroy_issue issue
      =button_to_moderate_issue_as_ham issue
.pagination=@paginator.pagination_links if @paginator
.links
  =link_to 'public issues index', issues_url
  =link_to 'refresh', admin_issues_url
