-form_for :translation, :url => locale_translation_path(@translation.locale, @translation), :html => { :method => :put } do |form|
  %table
    %tr
      %th Key
      %td
        =form.text_field :key
    %tr
      %th Translation
      %td
        =form.text_field :translation
  %p
    =submit_tag
  %p
    =link_to 'all translations for this locale', locale_translations_path(@translation.locale)