%h1 Translations
-for @translation in @translations
  %li
    -# this might need to be in a partial?
    -# TODO: pagination
    .label Locale code
    .attribute=h @translation.locale.code
    .lable Description
    .attribute=h @translation.locale.description
    .lable Key
    .attribute=h @translation.key
    .lable Translation
    -# not quite as easy to use with nested routes: can probably simplify this
    -# without specifying the URL explicitly the "get_locale" (before_filter) method doesn't know the locale id and an exception is thrown
    .attribute=in_place_editor_field :translation, :translation, {}, :url => url_for({ :action => 'set_translation_translation', :id => @translation.id, :locale_id => @translation.locale.id}) 
    -# TODO: link_to editor
