-# TODO: localize all this text
%h1 Translations
%h2
  ==Locale #{h @locale.code} &mdash; #{h @locale.description}
%table
  %tr
    %th Key
    %th Translation
    %th
  -for @translation in @translations
    %tr
      %td=h @translation.key
      %td=in_place_editor_field :translation, :translation, {}, :nested => :locale
      %td=link_to 'edit', edit_locale_translation_path(@translation.locale, @translation)
