-@taggables.each do |group, taggables|
  %h3=pluralizing_count taggables.length, group.downcase
  %table
    %tr
      %th Item
      %th When
    -for taggable in taggables
      %tr
        %td=taggable_link taggable
        %td=timeinfo taggable
