=search_page_title
-if @taggings
  -@taggings.each do |group, taggings|
    %h3=pluralizing_count taggings.length, group.downcase
    %table
      %tr
        %th Item
        %th When
      -for tagging in taggings
        %tr
          %td=taggable_link tagging.taggable
          %td=timeinfo tagging.taggable
%h2 Search
-form_tag search_tags_path, :method => 'get' do
  =text_field_tag :q, params[:q], :size => 40
  =submit_tag 'Search'
  %br
  %span.annotation Find items which feature <em>all</em> of the specified tags
