-@page_title = "#{@repo.name} (#{branch_name @branch} branch)"
=breadcrumbs link_to('Repos', repos_path),
  link_to(@repo.name, @repo), branch_name(@branch)
%h1.major=@page_title
%h2 Commits
%ul.commits
  =render :partial => 'commits/commit', :collection => @commits
.links
  =link_to 'all repos', repos_path
