-content_for :css do
  =stylesheet_link_tag 'forums'
#breadcrumbs
  =link_to 'Home', root_path
  &raquo; Forums
%h1.major Forums
%table
  %tr
    %th Forum
    %th Topics
    %th Last active
    -if admin?
      %th Actions
  -for forum in @forums
    %tr{ :class => "forum #{cycle('odd', 'even')}" }
      %td
        =link_to forum.name, forum_path(forum)
        -unless forum.description.blank?
          %br
          %span.annotation=h forum.description
      %td
        =topic_count forum.topics_count
      %td
        =timeinfo_for_forum forum
        =link_to_topic_for_forum forum
      -if admin?
        %td
          =link_to 'edit', edit_forum_path(forum)
-admin_only do
  .links
    =link_to 'new forum', new_forum_path
