-content_for :css do
  =stylesheet_link_tag 'forums'
%h1 Forums
%table
  %tr
    %th Forum
    %th Description
    %th Topics
    %th Last active
    -if admin?
      %th Actions
  -for forum in @forums
    %tr{ :class => "forum #{cycle('odd', 'even')}" }
      %td
        %h2=link_to forum.name, forum_path(forum)
      %td
        =h forum.description unless forum.description.blank?
      %td
        =topic_count forum.topics_count
      %td
        =timeinfo_for_forum forum
        =link_to_topic_for_forum forum
      -if admin?
        %td
          =link_to 'edit', edit_forum_path(forum)
-admin_only do
  =link_to 'new forum', new_forum_path
