-content_for :css do
  =stylesheet_link_tag 'forums'
#breadcrumbs
  =link_to 'Home', root_path
  &raquo;
  =link_to 'Forums', forums_path
  &raquo;
  =h @forum.name
#forum
  =page_title "Forum: #{@forum.name}"
  %h2=@forum.description unless @forum.description.blank?
  -if @paginator
    .pagination=@paginator.pagination_links
  %table
    %tr
      %th Topic
      %th Replies
      %th Views
      %th Last post
    -for topic in @topics
      %tr{ :class => cycle('even', 'odd') }
        %td=link_to h(topic.title), forum_topic_path(@forum, topic)
        %td=number_with_delimiter topic.comments_count
        %td=number_with_delimiter topic.view_count
        %td
          =link_to_user_for_topic topic
          =topic.updated_at.distance_in_words
          -if topic.last_comment_id
            =link_to 'view &raquo;', forum_topic_path(@forum, topic) + "\#comment_#{topic.last_comment_id}"
          -else
            =link_to 'view &raquo;', forum_topic_path(@forum, topic)
  =link_to 'new topic', new_forum_topic_path(@forum)
=link_to 'all forums', forums_path
=link_to 'new forum', new_forum_path if admin?