#forum
  =page_title "Forum: #{@forum.name}"
  %h2=@forum.description unless @forum.description.blank?
  %table
    %tr
      %th Topic
      %th Replies
      %th Views
      %th Last post
    -for topic in @forum.topics
      %tr
        %td=link_to topic.title, forum_topic_path(@forum, topic)
        %td=topic.comments_count
        %td=topic.view_count
        %td
          by
          =link_to_user topic.user
          =topic.updated_at.distance_in_words
  =link_to 'new topic', new_forum_topic_path(@forum)
=link_to 'all forums', forums_path
=link_to 'new forum', new_forum_path if admin?