-@page_title = @repo.name
=breadcrumbs link_to('Repos', repos_path), @page_title
%h1.major=@page_title
%h2=@repo.description unless @repo.description.blank?
-unless @repo.clone_url.blank?
  Clone URL: #{@repo.clone_url}
-if admin? && !@repo.rw_clone_url.blank?
  R/W Clone URL: #{@repo.rw_clone_url}
.links
  -# TODO: on hover show drop-down menus here?
  =link_to 'commits', '#commits'
  =link_to 'branches', '#branches'
  =link_to 'tags', '#tags'
%h3#commits
  Commits (#{@repo.repo.head.name})
%ul.commits
  =render :partial => 'commits/commit', :collection => @repo.repo.head.commits
%h3#branches Branches
%ul
  =render :partial => 'branches/branch', :collection => @repo.repo.branches
%h3#tags Tags
%ul
  =render :partial => 'git_tags/git_tag', :collection => @repo.repo.tags
.links=link_to 'all repos', repos_path
