[submodule "assets"]
	path = assets
	url = elastic1.unixhosts.net:/pub/git/private/assets.wincent.com.git
[submodule "vendor/assets/javascripts/jquery"]
	path = vendor/assets/javascripts/jquery
	url = git://elastic1.unixhosts.net/jquery.git
[submodule "vendor/assets/javascripts/spin.js"]
	path = vendor/assets/javascripts/spin.js
	url = git://elastic1.unixhosts.net/spin.js.git
[submodule "vendor/assets/javascripts/backbone"]
	path = vendor/assets/javascripts/backbone
	url = git://elastic1.unixhosts.net/backbone.git
[submodule "vendor/assets/javascripts/underscore"]
	path = vendor/assets/javascripts/underscore
	url = git://elastic1.unixhosts.net/underscore.git
