-# NOTE: this adds a few hundred bytes and a db query to each page load, may consider loading this via AJAX
%h2.major Search
%span.annotation all fields are optional
%form{ 'accept-charset' => 'UTF-8', :action => search_issues_path, :method => :get }
  %ul
    %li
      =label_tag 'issue_product_id', 'Product'
      %select#issue_product_id(name='issue[product_id]')
        %option(value='')
        =option_groups_from_collection_for_select Product.categorized,
          :last, :first, :id, :name, (@issue.product ? @issue.product.id : nil)
    %li
      =label_tag 'issue_kind', 'Kind'
      =select_tag 'issue[kind]', kind_options_for_select, :include_blank => true
    %li
      =label_tag 'issue_status', 'Status'
      =select_tag 'issue[status]', status_options_for_select, :include_blank => true
    %li
      =label_tag 'issue_summary', 'Search for'
      =text_field_tag 'issue[summary]'
    %li
      %input(type='submit' value='Search')
