-# NOTE: this adds a few hundred bytes and a db query to each page load, may consider loading this via AJAX
%h2.major Search
%span.annotation all fields are optional
=form_for @issue, :url => search_issues_path do |f|
  %ul
    %li
      =label_tag 'issue_product_id', 'Product'
      %select#issue_product_id(name='issue[product_id]')
        %option(value='')
        -# Rails BUG: https://rails.lighthouseapp.com/projects/8994/tickets/4879
        =raw option_groups_from_collection_for_select Product.categorized,
          :last, :first, :id, :name, (@issue.product ? @issue.product.id : nil)
    %li
      =label_tag 'issue_kind', 'Kind'
      =f.select :kind, kind_options_for_select, :include_blank => true
    %li
      =label_tag 'issue_status', 'Status'
      =f.select :status, status_options_for_select, :include_blank => true
    %li
      =label_tag 'issue_summary', 'Search for'
      =f.text_field :summary
    %li=f.submit 'Search'
