-@page_title = 'Issue search'
=breadcrumbs link_to('Issues', issues_path), 'Search'
%h1.major=@page_title
.links
  =link_to 'show all issues', issues_path
#issue_search
  =render 'issues/search/form'
