-page_title 'Issue search'
.links
  =link_to 'show all issues', issues_path
  =link_to 'open a ticket', new_issue_path, :title => "Don't forget to search first before opening a ticket"
  =link_to 'support overview', support_path
  =link_to 'site search', new_search_path
#issue_search
  =render 'issues/search/form'
