%h3 Create new comment
=error_messages_for :comment
-if !logged_in?
  =render :partial => 'shared/anonymous'
-elsif !current_user.verified?
  =render :partial => 'shared/unverified'
-form_for @comment, :url => polymorphic_comments_url(@comment) do |f|
  %table.main
    %tr
      %th
        Body
        %br
        %span.annotation=wikitext_cheatsheet
      %td=f.text_area(:body, :cols => 80, :rows => 10)
    -if admin?
      %tr
        %th Public?
        %td=f.check_box :public
  %p=f.submit 'Submit comment'
%h4
-#  ==Preview (#{link_to_update_preview})
-#  =observe_body
-#  =spinner_tag
-#  -# TODO: graceful non-JS fallback
-##preview=body_html
-#%p=link_to 'back', articles_url
