%li(class="comment #{comment.user && comment.user.superuser? ? 'admin' : cycle('even', 'odd')}"
      id="comment_#{comment.id}")
  %blockquote=comment.body.w :base_heading_level => 2
  %cite
    =link_to_user comment.user
    %span.when=timeinfo comment, :updated_string => 'edited'
    =link_to 'permalink', comment_path(comment), :class => 'hoverlink'
