=render 'shared/error_messages', :model => @comment
-if !logged_in?
  =render 'shared/anonymous'
-elsif !current_user.verified?
  =render 'shared/unverified'
=form_for @comment, :url => comment_form_path(@comment) do |f|
  %ul
    %li
      =f.label :body, annotation('Body', wikitext_cheatsheet)
      =f.text_area :body, :rows => 10
    -if admin?
      %li
        =f.label :public, 'Public?'
        =f.check_box :public
    %li
      =f.submit 'Submit comment'
