%h1 Edit comment
=error_messages_for :comment
-form_for @comment, :url => polymorphic_comments_path(@comment) do |f|
  %table.main
    %tr
      %th
        Body
        %br
        %span.annotation=wikitext_cheatsheet
      %td=preserve(f.text_area(:body, :cols => 80, :rows => 10))
  %p=f.submit 'Save'
%h4
-#  ==Preview (#{link_to_update_preview})
-#  =observe_body
-#  =image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none;'
-#  -# TODO: graceful non-JS fallback
-##preview=body_html
-#%p=link_to 'back', wiki_index_path


