%h1
  Edit comment on
  =link_to_commentable @comment.commentable
%div[@comment]
  =error_messages_for :comment
  -form_for @comment, :url => comment_url(@comment) do |f|
    %table.main
      %tr
        %th
          Body
          %br
          %span.annotation=wikitext_cheatsheet
        %td=f.text_area(:body, :cols => 80, :rows => 10)
      %tr
        %th Public?
        %td=f.check_box :public
    %p=f.submit 'Save'
  .links
    =link_to 'show', comment_url(@comment)
    =button_to_destroy_comment @comment
    =button_to_moderate_comment_as_ham @comment
.links
  =link_to 'all comments awaiting moderation', comments_url
  =link_to 'administator dashboard', admin_dashboard_url
%h4
-#  ==Preview (#{link_to_update_preview})
-#  =observe_body
-#  =spinner_tag
-#  -# TODO: graceful non-JS fallback
-##preview=body_html
-#%p=link_to 'back', articles_url


