-content_for :javascript do
  =javascript_include_tag 'ajax'
-@page_title = 'Comment moderation'
=breadcrumbs link_to('Dashboard', admin_dashboard_path), @page_title
%h1.major=@page_title
-if @paginator
  .pagination=@paginator.pagination_links
-for @comment in @comments
  %div[@comment]
    %h2
      Comment on
      =link_to_model @comment.commentable
      (#{@comment.commentable.class.to_s.downcase})
      by
      =link_to_user @comment.user
    .when=timeinfo @comment
    %div=@comment.body.w :base_heading_level => 2
    .links
      =link_to 'edit', edit_comment_path(@comment)
      =button_to_destroy_model @comment, :remote => true
      -button_to_moderate_comment_as_ham @comment
-if @paginator
  .pagination=@paginator.pagination_links
