=page_title 'Comments awaiting moderation'
-if @paginator
  .pagination=@paginator.pagination_links
-for @comment in @comments
  %div[@comment]
    %h2
      Comment on
      =link_to_commentable @comment.commentable
      ==(#{@comment.commentable.class.to_s.downcase})
      by
      =link_to_user @comment.user
    .when=timeinfo @comment
    %div=@comment.body.w
    .links
      =link_to 'edit', edit_comment_url(@comment)
      =button_to_destroy_comment @comment
      =button_to_moderate_comment_as_spam @comment
      =button_to_moderate_comment_as_ham @comment
-if @paginator
  .pagination=@paginator.pagination_links
