=page_title "Recent comments"
-if @paginator
  .pagination=@paginator.pagination_links
-for @comment in @comments
  %div[@comment]
    %h2
      Comment on
      =link_to_commentable @comment.commentable
      ==(#{@comment.commentable.class.to_s.downcase})
      by
      =link_to_user @comment.user
    .when=timeinfo @comment
    %div=@comment.body.w
    .links
      =link_to 'edit', edit_comment_path(@comment), :class => 'edit_link'
      %form{:id => "comment_#{@comment.id}_destroy_form", :style => 'display:inline;'}
        =submit_to_remote 'button', 'destroy', :url => comment_path(@comment), :method => :delete, :failure => "alert('Failed to delete')", :confirm => 'Really delete?'
      %form{:id => "comment_#{@comment.id}_spam_form", :style => 'display:inline;'}
        =submit_to_remote 'button', 'spam', :url => comment_path(@comment), :method => :put, :failure => "alert('Failed to mark as spam')", :confirm => 'Really mark as spam?'
      %form{:id => "comment_#{@comment.id}_ham_form", :style => 'display:inline;'}
        =submit_to_remote 'button', 'ham', :url => comment_path(@comment), :method => :put, :failure => "alert('Failed to mark as ham')"
-if @paginator
  .pagination=@paginator.pagination_links
