%h1.major Search results: #{@query}
%form{ 'accept-charset' => 'UTF-8', :action => search_path, :method => :get }
  =text_field_tag :q, @query, :size => 75
  %input(type='submit' value='Search')
-if @models.length == 0
  %p No results.
-else
  -@models[0..19].each_with_index do |model, i|
    -next if model.nil?
    %div(class="result #{cycle('odd', 'even')}")
      =render "search/#{model.class.to_s.downcase}", :model => model, :result_number => @offset + i + 1
-if @models.length >= 20
  %form{ 'accept-charset' => 'UTF-8', :action => search_path, :method => :get }
    =hidden_field_tag :q, @query
    =hidden_field_tag :offset, @offset + 20
    %input(type='submit' value='more results...')
.links
  =link_to 'new search', search_path
