-page_title 'Issue search'
.links
  =link_to 'show all issues', issues_url
  =link_to 'support overview', support_url
  =link_to 'site search', search_index_url
#issue_search
  =render :partial => 'issues/search'
