-page_title 'Issue search'
.links
  =link_to 'show all issues', issues_path
  =link_to 'support overview', support_path
  =link_to 'site search', search_index_path
#issue_search
  =render 'issues/search'
