%ul
  %li
    =f.label :kind
    =f.select :kind, underscores_to_spaces(Issue::KIND).sort
  %li
    =f.label :summary, annotation('Summary', 'a one-line summary of your issue')
    =f.text_field :summary
  %li
    =f.label :product, annotation('Product', 'optional', '(leave blank for general issues)')
    %select.issue_product_id(name='issue[product_id]')
      %option(value='')
      =option_groups_from_collection_for_select Product.categorized_products, :last, :first, :id, :name, (@issue.product ? @issue.product.id : nil)
  -if admin?
    %li
      =f.label :status
      =f.select :status, underscores_to_spaces(Issue::STATUS).sort
  %li
    =f.label :description, annotation('Description', 'please be as detailed as possible', "(#{wikitext_cheatsheet})")
    =f.text_area(:description)
  %li
    -if logged_in?
      =f.label :public, annotation('Public?', 'allow other visitors to see this ticket?', '(it may be helpful to them)')
    -else
      =f.label :public, annotation('Public?', 'this ticket must be public because you are posting anonymously',
        "(#{link_to 'log in', login_path(:original_uri => request.request_uri)})")
    =f.check_box :public, { :disabled => !logged_in? }
  -if admin?
    %li
      =f.label :tags, 'Tags'
      =f.text_field :pending_tags
  %li
    =f.submit(f.object.new_record? ? 'Create ticket' : 'Save changes')
