=@paginator.pagination_links if @paginator
%table.table
  %thead
    %tr
      =sortable_header_cell :id, '#'
      =sortable_header_cell :summary, 'Summary'
      =sortable_header_cell :product_id, 'Product'
      =sortable_header_cell :status, 'Status'
      =sortable_header_cell :kind, 'Kind'
      =sortable_header_cell :updated_at, 'When'
      -if admin?
        =sortable_header_cell :public, 'Public?'
  -unless @issues.empty?
    %tbody
      - @issues.each do |issue|
        %tr
          %td=issue.id.to_s
          %td=link_to truncate(issue.summary, :length => 60),
            issue_path(issue), :title => issue.summary
          %td=link_to(issue.product.name,
            issues_path(:product => issue.product.name),
            :title => "show all issues for #{issue.product.name}") if issue.product
          %td=link_to issue.status_string,
            issues_path(:status => issue.status_string),
            :title => "show all #{issue.status_string.downcase} issues"
          %td{ :class => issue.kind_string.parameterize }
            =link_to issue.kind_string,
              issues_path(:kind => issue.kind_string.capitalize),
              :title => "show all #{issue.kind_string.pluralize}"
          %td=timeinfo issue
          -if admin?
            %td=issue.public? ? icon('check') : icon('lock')
=@paginator.pagination_links if @paginator
