.pagination=@paginator.pagination_links if @paginator
%table.main
  %tr
    -if admin?
      -sortable_header_cell :public, 'Public?'
    -sortable_header_cell :kind, 'Kind'
    -sortable_header_cell :id, '#'
    -sortable_header_cell :product_id, 'Product'
    -sortable_header_cell :summary, 'Summary'
    -sortable_header_cell :status, 'Status'
    -sortable_header_cell :updated_at, 'When'
  -for issue in @issues
    %tr{ :class => cycle('odd', 'even') }
      -if admin?
        %td=issue.public? ? image_tag('tick.png') : image_tag('lock.png')
      %td=link_to issue.kind_string, issues_url(:kind => issue.kind_string.capitalize), :title => "show all #{issue.kind_string.pluralize}"
      %td=issue.id.to_s
      %td=link_to(issue.product.name, issues_url(:product => issue.product.name), :title => "show all issues for #{issue.product.name}") if issue.product
      %td=link_to h(truncate(issue.summary, :length => 60)), issue_url(issue), :title => h(issue.summary)
      %td=link_to issue.status_string, issues_url(:status => issue.status_string), :title => "show all #{issue.status_string.downcase} issues"
      %td=timeinfo issue
.pagination=@paginator.pagination_links if @paginator
