-# NOTE: this adds a few hundred bytes and a db query to each page load, may consider loading this via AJAX
%h2.major Search
%span.annotation all fields are optional
-form_for :issue, :url => search_issues_path, :method => :post do |f|
  %table.main
    %tr
      %th Product
      %td
        %select.issue_product_id(name='issue[product_id]')
          %option(value='')
          =option_groups_from_collection_for_select Product.categorized_products, :last, :first, :id, :name
    %tr
      %th Kind
      %td=f.select :kind, underscores_to_spaces(Issue::KIND).sort, :include_blank => true
    %tr
      %th Status
      %td=f.select :status, underscores_to_spaces(Issue::STATUS).sort, :include_blank => true
    %tr
      %th Search for
      %td
        =f.text_field :summary
  %p=f.submit 'Search'
