-atom_link @issue
-content_for :css do
  =stylesheet_link_tag 'issues'
-@page_title = "#{@issue.kind_string} \##{@issue.id.to_s}"
%h1.major="#{@issue.kind_string} \##{@issue.id.to_s}"
.prev_next
  =link_to_prev_issue @prev
  =link_to_next_issue @next
%h2
  This issue is currently awaiting moderation
  =feed_icon issue_path(@issue, :format => :atom)
%div
  Subscribe to the
  =link_to 'Atom feed', issue_path(@issue, :format => :atom)
  to be informed when the issue is updated.
.links
  =link_to 'all issues', issues_path
  -if admin?
    =button_to 'destroy', @issue, :method => :delete,
      :confirm => 'Really destroy this issue?', :class => 'destructive'
