-page_title "Edit issue"
%div[@issue]
  =render 'shared/error_messages', :model => @issue
  -form_for @issue, :url => issue_path(@issue) do |f|
    =render 'issues/form', :f => f
    %p=f.submit 'Save changes'
  .links
    =link_to 'show issue', issue_path(@issue)
    -button_to_destroy_issue @issue
    -button_to_moderate_issue_as_ham @issue if @issue.awaiting_moderation?
.links
  =link_to 'public issues index', issues_path
  =link_to 'issues awaiting moderation', admin_issues_path
