=page_title "Edit issue"
%div[@issue]
  =error_messages_for :issue
  -form_for @issue, :url => issue_url(@issue) do |f|
    =render :partial => 'issues/form', :locals => { :f => f }
    %p=f.submit 'Save changes'
  .links
    =link_to 'show issue', issue_url(@issue)
    =button_to_destroy_issue @issue
    =button_to_moderate_issue_as_spam @issue
    =button_to_moderate_issue_as_ham @issue
.links
  =link_to 'public issues index', issues_url
  =link_to 'issues awaiting moderation', admin_issues_url
