-content_for :css do
  =stylesheet_link_tag 'issues'
%h1 Issues
.links
  =link_to 'show all issues', issues_path
  =link_to_issue_search
  =link_to 'open a ticket', new_issue_path, :title => "Don't forget to search first before opening a ticket"
  =link_to 'support overview', support_path
#issue_search(style='display:none;')
  =render 'issues/search'
%h2.major Recently modified
.annotation=scope_info
=render 'issues/issues'
