%h1 Issues
.links
  =link_to 'show all issues', issues_path
  =link_to_function 'search', "$('issue_search').toggle(); $('issue_summary').focus();"#, :href => 'TODO: non-JS fallback path'
  =link_to 'open a ticket', new_issue_path, :title => "Don't forget to search first before opening a ticket"
=render :partial => 'issues/search'
%h2.major Recently modified
.annotation=scope_info
=render :partial => 'issues/issues'
