%h1 Issues
%h2.major Recently modified
.annotation=scope_info
.pagination=@paginator.pagination_links if @paginator
%table.main
  %tr
    -sortable_header_cell :kind, 'Kind'
    -sortable_header_cell :id, '#'
    -sortable_header_cell :product_id, 'Product'
    -sortable_header_cell :summary, 'Summary'
    -sortable_header_cell :status, 'Status'
    -sortable_header_cell :updated_at, 'When'
  -for issue in @issues
    %tr{ :class => cycle('odd', 'even') }
      %td=link_to issue.kind_string, issues_path(:kind => issue.kind_string.capitalize), :title => "show all #{issue.kind_string.pluralize}"
      %td=issue.id.to_s
      %td=link_to(issue.product.name, issues_path(:product => issue.product.name), :title => "show all issus for #{issue.product.name}") if issue.product
      %td=link_to h(truncate(issue.summary, 60)), issue_path(issue), :title => h(issue.summary)
      %td=link_to issue.status_string, issues_path(:status => issue.status_string), :title => "show all #{issue.status_string.downcase} issues"
      %td=timeinfo issue
.pagination=@paginator.pagination_links if @paginator
.links
  =link_to 'new issue', new_issue_path
  =link_to 'all issues', issues_path
-# TODO: search field