%h1 Issues
%h2.major Recently modified
.annotation=scope_info
=render :partial => 'shared/issues'
.links
  =link_to 'open a ticket', new_issue_path
  =link_to 'all issues', issues_path
-# TODO: search field