%h1 Issues
%h2 Recently modified
.annotation=scope_info
.pagination=@paginator.pagination_links if @paginator
%table.main
  %tr
    -sortable_header_cell :kind, 'Kind'
    -sortable_header_cell :id, '#'
    -sortable_header_cell :product_id, 'Product'
    -sortable_header_cell :summary, 'Summary'
    -sortable_header_cell :status, 'Status'
    -sortable_header_cell :updated_at, 'When'
  -for issue in @issues
    %tr{ :class => cycle('odd', 'even') }
      %td=link_to issue.kind_string, issues_path(:kind => issue.kind_string)
      %td=link_to issue.id.to_s, issue_path(issue), :title => h(issue.summary)
      %td=link_to(issue.product.name, issues_path(:product => issue.product.name)) if issue.product
      %td{:title => h(issue.summary)}=h(truncate(issue.summary, 60))
      %td=link_to issue.status_string, issues_path(:status => issue.status_string)
      %td=timeinfo issue
.pagination=@paginator.pagination_links if @paginator
.links
  =link_to 'new issue', new_issue_path
  =link_to 'all issues', issues_path
-# TODO: search field