%h1 Issues
%h2 Recently modified
.pagination=@paginator.pagination_links if @paginator
%table.main
  %tr
    -sortable_header_cell :kind, 'Kind'
    -sortable_header_cell :id, '#'
    -sortable_header_cell :product, 'Product'
    -sortable_header_cell :summary, 'Summary'
    -sortable_header_cell :status, 'Status'
    -sortable_header_cell :updated_at, 'When'
  -for issue in @issues
    %tr{ :class => cycle('odd', 'even') }
      %td{:class => issue.kind_string.tableize}=link_to issue.kind_string.capitalize, issues_path(:kind => issue.kind_string.tableize)
      %td=link_to issue.id.to_s, issue_path(issue)
      %td=link_to(issue.product.name, issues_path(:product => issue.product.name)) if issue.product
      %td{:title => h(issue.summary)}=h(truncate(issue.summary, 60))
      %td=link_to issue.status_string, issues_path(:status => issue.status_string)
      %td=timeinfo issue
.pagination=@paginator.pagination_links if @paginator
