%h1 Issues
.links
  =link_to 'show all issues', issues_url
  =link_to_issue_search
  =link_to 'open a ticket', new_issue_url, :title => "Don't forget to search first before opening a ticket"
  =link_to 'support overview', support_url
#issue_search{:style => 'display:none;'}
  =render :partial => 'issues/search'
%h2.major Recently modified
.annotation=scope_info
=render :partial => 'issues/issues'
