-page_title "New issue"
=error_messages_for :issue
-if !logged_in?
  =render 'shared/anonymous'
-elsif !current_user.verified?
  =render 'shared/unverified'
-# TODO: big fat search link to try and avoid duplicate reports
-form_for :issue, :url => issues_path, :method => :post do |f|
  =render 'issues/form', :f => f
  %p=f.submit 'Create'
.links
  =link_to 'back to issues index', issues_path
