- @page_title = 'Edit snippet'
= breadcrumbs link_to('Snippets', snippets_path),
  link_to(snippet_title(@snippet), @snippet),
  @page_title
= render 'form'
.links
  = link_to 'show', @snippet
  = link_to 'all snippets', snippets_path
