-atom_link snippets_path(:format => :atom)
=breadcrumbs 'Snippets'
%h1.major
  Snippets
  =feed_icon snippets_path(:format => :atom)
=@paginator.pagination_links
=render @snippets
=@paginator.pagination_links
