=breadcrumbs link_to('Snippets', snippets_path), snippet_title(@snippet)
%h1.major=snippet_title @snippet
%div[@snippet]
  .when
    =timeinfo @snippet
    by
    =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
  =@snippet.body_html base_heading_level: 1
= render 'shared/tags', taggable: @snippet
.links
  =link_to 'all snippets', snippets_path
  =link_to 'raw', snippet_path(@snippet, format: :txt)
-if @snippet.accepts_comments? || @snippet.comments_count != 0
  %h2.major Comments
  %ol#comments.bubbles
    =render @comments
  %h2.major Add a comment
  -if @comment
    #ajax-flash
    #comment-form
      .links=link_to 'add a comment', new_snippet_comment_path(@snippet)
  -else
    %p Comments are now closed for this snippet. You can discuss it further in the #{link_to 'forums', forums_path}.
-content_for :javascript do
  :javascript
    Wincent.AJAX.commentForm('#{new_snippet_comment_path @snippet.id}');
