-content_for :javascript do
  =javascript_include_tag 'ajax'
  :javascript
    $(function() {
      ajax_comment_form('#{new_snippet_comment_path @snippet.id}');
    });
=breadcrumbs link_to('Snippets', snippets_path), snippet_title(@snippet)
%h1.major=snippet_title @snippet
%div[@snippet]
  .when
    =timeinfo @snippet
    by
    =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
  =@snippet.body_html :base_heading_level => 1
=render 'shared/tags', :tags => @snippet.tags
.links
  =link_to 'all snippets', snippets_path
  =link_to 'raw', snippet_path(@snippet, :format => :txt)
-if @snippet.accepts_comments? || @snippet.comments_count != 0
  =named_anchor 'comments'
  %h2.major
    Comments
    =feed_icon snippet_path(@snippet, :format => :atom)
  %ol.comments
    -for comment in @comments
      %li(class="comment #{comment.user && comment.user.superuser? ? 'admin' : cycle('even', 'odd')}"
           id="comment_#{comment.id}")
        %blockquote=comment.body.w :base_heading_level => 2
        %cite
          =link_to_user comment.user
          %span.when=timeinfo comment, :updated_string => 'edited'
          =link_to 'permalink', comment_path(comment), :class => 'hoverlink'
  %h2.major Add a comment
  -if @comment
    #ajax-flash
    #comment-form
      .links=link_to 'add a comment', new_snippet_comment_path(@snippet)
  -else
    %p Comments are now closed for this snippet. You can discuss it further in the #{link_to 'forums', forums_path}.
