-@page_title = "#{@repo.name} tag #{tag_name @tag}"
=breadcrumbs link_to('Repos', repos_path),
  link_to(@repo.name, @repo), tag_name(@tag)
%h1.major=@page_title
-unless @tag.lightweight
  %pre
    =@tag.annotation
.commit
  %h2 Commit #{commit_abbrev_with_tooltip @commit.commit}
  =render 'commits/show'
.links
  =link_to 'all repos', repos_path
