-content_for :javascript do
  =javascript_include_tag 'ajax'
%h1 Edit article
=error_messages_for :article
-form_for @article, :url => article_url, :method => 'put' do |f|
  %table.main
    %tr
      %th Title
      %td=f.text_field :title
    %tr
      %th
        Redirect
        %br
        %span.annotation (optional)
      %td=f.text_field :redirect
    %tr
      %th
        Body
        %br
        %span.annotation==(#{wikitext_cheatsheet})
      %td=f.text_area(:body, :cols => 80, :rows => 30)
    %tr
      %th Tags
      %td=f.text_field :pending_tags
    %tr
      %th Public
      %td=f.check_box :public
    %tr
      %th Accepts comments
      %td=f.check_box :accepts_comments
  %p=f.submit 'Save'
%h2
  ==Preview (#{link_to_update_preview})
  =observe_body
  =spinner_tag
  -# TODO: graceful non-JS fallback
#ajax-flash
#preview=title_and_body_html
.links
  =link_to 'index', articles_url, :class => 'back_link'
  =link_to 'show', article_url(@article), :class => 'show_link'
