-content_for :javascript do
  =javascript_include_tag 'ajax'
  :javascript
    $(function() {
      observe_field({ 'kind': 'article', 'fieldName': 'title', 'include': ['body'], 'url': '#{articles_path}' });
      observe_field({ 'kind': 'article', 'fieldName': 'body', 'include': ['title'], 'url': '#{articles_path}' });
      setup_preview_link({ 'kind': 'article', 'include': ['body', 'title'], 'url': '#{articles_path}' });
    });
%h1 Edit article
=render 'shared/error_messages', :model => @article
-form_for @article do |f|
  %ul
    %li
      =f.label :title
      =f.text_field :title
    %li
      =f.label :redirect, annotation('Redirect', 'optional')
      =f.text_field :redirect
    %li
      =f.label :body, annotation('Body', "(#{wikitext_cheatsheet})")
      =f.text_area(:body, :cols => 80, :rows => 30)
    %li
      =f.label :pending_tags, 'Tags'
      =f.text_field :pending_tags
    %li
      =f.label :public
      =f.check_box :public
    %li
      =f.label :accepts_comments
      =f.check_box :accepts_comments
    %li=f.submit 'Save'
%h2#preview_link Preview
-# TODO: graceful non-JS fallback
#ajax-flash
#preview=render 'preview'
.links
  =link_to 'index', articles_path
  =link_to 'show', article_path(@article)
