-atom_link articles_path(:format => :atom)
-@page_title = 'wiki index'
=breadcrumbs 'Wiki'
%h1 Wiki articles
%h2.major
  Recently updated
  =feed_icon articles_path(:format => :atom)
-if @paginator
  .pagination=@paginator.pagination_links
%table
  %thead
    %tr
      %th Title
      %th When
  -unless @articles.empty?
    %tbody
    -for article in @articles
      %tr
        %td=link_to article.title, article_path(article)
        %td=timeinfo article
%h2.major Top #{link_to 'tags', tags_path} in the wiki
.cloud
  -for tag in @tags
    =scaled_tag tag, 'article'
%h2.major Tag search
=form_tag search_tags_path, :method => 'get' do
  %span.annotation Find items which feature <em>all</em> of the specified tags
  %br
  =text_field_tag :q, params[:q], :size => 40
  =hidden_field_tag 'type', 'article'
  =submit_tag 'Search'
