-atom_link articles_path(:format => :atom)
-@page_title = 'wiki index'
=breadcrumbs 'Wiki'
%h1 Wiki articles
%h2.major
  Recently updated
  =feed_icon articles_path(:format => :atom)
=@paginator.pagination_links if @paginator
%table
  %thead
    %tr
      %th Title
      %th When
  -# Rails BUG: https://rails.lighthouseapp.com/projects/8994/tickets/5060
  -unless @articles.load.empty?
    %tbody
    -for article in @articles
      %tr
        %td=link_to article.title, article_path(article)
        %td=timeinfo article
%h2.major Top #{link_to 'tags', tags_path} in the wiki
.cloud
  -for tag in @tags
    =scaled_tag tag, 'article'
%h2.major Tag search
%form{'accept-charset' => 'UTF-8', :action => search_tags_path, :method => 'get'}
  %span.annotation Find items which feature <em>all</em> of the specified tags
  %br
  =text_field_tag :q, params[:q], :size => 40
  =hidden_field_tag 'type', 'article'
  %input(type='submit' value='Search')
