-atom_link
%h1 Articles
%h2 Recently updated
-if @paginator
  .pagination=@paginator.pagination_links
%table
  %tr
    %th Title
    %th When
  -for article in @articles
    %tr
      %td=link_to h(article.title), wiki_path(article)
      %td=timeinfo article
%h2 Top tags
.cloud
  -for tag in @tags
    -# BUG: the tags link to a page showing _all_ taggable types, not just tagged articles
    =scaled_tag tag
-# TODO: add search box here
