-atom_link
-@page_title = 'wiki index'
%h1 Wiki articles
%h2.major Recently updated
-if @paginator
  .pagination=@paginator.pagination_links
%table
  %tr
    %th Title
    %th When
  -for article in @articles
    %tr
      %td=link_to h(article.title), wiki_path(article)
      %td=timeinfo article
%h2.major Top tags in the wiki
.cloud
  -for tag in @tags
    =scaled_tag tag, 'article'
%h2.major Tag search
-form_tag search_tags_path, :method => 'get' do
  %span.annotation Find items which feature <em>all</em> of the specified tags
  %br
  =text_field_tag :q, params[:q], :size => 40
  =hidden_field_tag 'type', 'article'
  =submit_tag 'Search'
