-@page_title = @article.title
%h1.major=h @article.title
.when=timeinfo @article
-if @redirected_from
  -if admin?
    %p==(Redirected from #{link_to h(@redirected_from.title), edit_article_path(@redirected_from)})
  -else
    %p==(Redirected from #{h @redirected_from.title})
.article
  =@article.body.w :base_heading_level => 1
=render :partial => 'shared/tags', :locals => { :tags => @article.tags }
.links
  -if admin?
    =link_to 'edit', edit_article_path(@article)
  =link_to 'wiki index', articles_path
