-@page_title = @article.title
%h1.major=h @article.title
.when=timeinfo @article
-if @redirected_from
  -if admin?
    %p==(Redirected from #{link_to h(@redirected_from.title), edit_wiki_path(@redirected_from)})
  -else
    %p==(Redirected from #{h @redirected_from.title})
.article
  =body_html
=render :partial => 'shared/tags', :locals => { :tags => @article.tags }
.links
  -if admin?
    =link_to 'edit', edit_wiki_path(@article)
  =link_to 'index', wiki_index_path
