-@page_title = @article.title
=breadcrumbs link_to('Wiki', articles_path), @article.title
%h1.major=@article.title
.when
  =timeinfo @article
  by
  =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
=redirected_from
.article
  =@article.body.w :base_heading_level => 1
=render 'shared/tags', :tags => @article.tags
.links
  -if admin?
    =link_to 'edit', edit_article_path(@article)
  =link_to 'wiki index', articles_path
-if @article.accepts_comments? || @article.comments_count != 0
  %h2.major
    Comments
    =feed_icon article_path(@article, :format => :atom)
  %ol#comments.bubbles
    =render @comments
  %h2.major Add a comment
  -if @comment
    #ajax_flash
    #comment-form
      .links=link_to 'add a comment', new_article_comment_path(@article)
  -else
    %p
      Comments are now closed for this article. You can discuss it further in
      the #{link_to 'forums', forums_path}.
-content_for :javascript do
  :javascript
    $(function() {
      ajax_comment_form('#{new_article_comment_path @article}');
    });
