-@page_title = 'Administrator dashboard'
=breadcrumbs @page_title
%h1.major=@page_title
%table.table
  %thead
    %tr
      %th Resource
      %th Awaiting moderation
      %th Actions
  %tbody
    %tr
      %td Comments
      %td=@comment_count.to_i
      %td=link_to 'moderate', comments_path
    %tr
      %td Issues
      %td=@issue_count.to_i
      %td=link_to 'moderate', admin_issues_path
