=page_title "Topics awaiting moderation"
-for @topic in @topics
  %div[@topic]
    %h2
      =h @topic.title
    %h3
      Topic in
      =link_to h(@topic.forum.name), forum_path(@topic.forum)
      by
      =link_to_user @topic.user
    .when=timeinfo @topic
    %div=@topic.body.w
    .links
      =link_to 'edit', edit_forum_topic_path(@topic.forum, @topic)
      =button_to_destroy_topic @topic
      =button_to_moderate_topic_as_spam @topic
      =button_to_moderate_topic_as_ham @topic
.links
  =link_to 'forums index', forums_path
  =link_to 'refresh', url_for(:controller => 'topics', :action => 'index')
