-@page_title = "Topic moderation"
=breadcrumbs link_to('Dashboard', admin_dashboard_path), @page_title
%h1.major=@page_title
-for @topic in @topics
  %div[@topic]
    %h2
      =@topic.title
    %h3
      Topic in
      =link_to @topic.forum.name, forum_path(@topic.forum)
      by
      =link_to_user @topic.user
    .when=timeinfo @topic
    %div=@topic.body.w :base_heading_level => 3
    .links
      =link_to 'edit', edit_forum_topic_path(@topic.forum, @topic)
      =button_to_destroy_model @topic, :remote => true
      -button_to_moderate_topic_as_ham @topic
.links
  =link_to 'forums index', forums_path
  =link_to 'refresh', topics_path
