-atom_link @topic
=breadcrumbs link_to('Forums', forums_path),
  link_to(@forum.name, forum_path(@forum)),
  @topic.title
-@page_title = @topic.title
%h1.major
  =@page_title
  =feed_icon forum_topic_path(@forum, @topic, :format => :atom)
%div[@topic]
  %ol(class='comments boxed')
    %li(class='comment odd')
      %cite
        =link_to_user @topic.user
        %br
        =pluralizing_count(@topic.user.utterances_count, 'post') if @topic.user
        %br
        %span.when
          =timeinfo @topic, :updated_string => false
        -if admin?
          %br
          =link_to 'edit', edit_forum_topic_path(@forum, @topic)
      %blockquote=@topic.body.w :base_heading_level => 1
    -for comment in @comments
      %li(class="comment #{cycle('even', 'odd')}" id="comment_#{comment.id}")
        %cite
          =link_to_user comment.user
          %br
          =pluralizing_count(comment.user.utterances_count, 'post') if comment.user
          %br
          %span.when
            =timeinfo comment, :updated_string => 'edited'
          -if admin?
            %br
            =link_to 'edit', edit_comment_path(comment)
        %blockquote=comment.body.w :base_heading_level => 1
%h2.major Reply
-if @topic.accepts_comments
  =render 'comments/form'
-else
  %p This topic is now closed.
.links
  =link_to 'topic index', forum_path(@forum)
  -if admin?
    =link_to 'edit topic', edit_forum_topic_path(@forum, @topic)
