-content_for :javascript do
  =javascript_include_tag 'ajax'
  :javascript
    $(function() {
      observe_field({ 'kind': 'tweet', 'fieldName': 'body', 'interval': 5, 'url': '#{tweets_path}' });
      setup_preview_link({ 'kind': 'tweet', 'include': ['body'], 'url': '#{tweets_path}' });
    });
-@page_title = 'Edit tweet'
=breadcrumbs link_to('Twitter', tweets_path),
  link_to("Tweet \##{@tweet.id}", @tweet),
  @page_title
%h1.major=@page_title
=render 'shared/error_messages', :model => @tweet
=form_for @tweet do |f|
  %ul
    %li
      =f.label :body, annotation('Body', wikitext_cheatsheet)
      =f.text_area :body, :rows => 5
    %li
      =f.label :pending_tags, 'Tags'
      =f.text_field :pending_tags
    %li
      =f.label :accepts_comments
      =f.check_box :accepts_comments
    %li=f.submit
%h2#preview_link.major Preview
#ajax-flash
#preview
  =render 'preview'
.links
  =link_to 'show', @tweet
  =button_to_destroy_model @tweet
  =link_to 'all tweets', tweets_path
