-content_for :css do
  =stylesheet_link_tag 'tweets'
-content_for :javascript do
  =javascript_include_tag 'ajax'
  :javascript
    $(function() {
      observe_field({ 'kind': 'tweet', 'fieldName': 'body', 'interval': 5, 'url': '#{tweets_path}' });
      setup_preview_link({ 'kind': 'tweet', 'include': ['body'], 'url': '#{tweets_path}' });
    });
%h1 Edit tweet
=render 'shared/error_messages', :model => @tweet
-form_for @tweet, :url => tweet_path(@tweet), :method => 'put' do |f|
  %table.main
    %tr
      %th
        Body
        %br
        %span.annotation (#{wikitext_cheatsheet})
      %td=f.text_area(:body, :cols => 80, :rows => 5)
    %tr
      %th Tags
      %td=f.text_field :pending_tags
    %tr
      %th Accepts comments
      %td=f.check_box :accepts_comments
  %p=f.submit 'Update'
%h2#preview_link Preview
#ajax-flash
#preview
  =render 'preview.html.haml'
.links
  =link_to 'show', @tweet
  =button_to 'destroy', @tweet, :confirm => 'Are you sure?',
    :method => :delete, :class => 'destructive'
  =link_to 'all tweets', tweets_path
