-atom_link tweets_path(:format => :atom)
=breadcrumbs 'Twitter'
%h1
  Tweets
  =feed_icon tweets_path(:format => :atom)
.pagination=@paginator.pagination_links
=render 'tweets.html.haml'
.pagination=@paginator.pagination_links
