-@page_title = "Tweet \##{@tweet.id}"
=breadcrumbs link_to('Twitter', tweets_path), @page_title
%h1.major=@page_title
%div[@tweet]
  =@tweet.body.w
  .when
    =timeinfo @tweet
    by
    =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
=render 'shared/tags', :tags => @tweet.tags
-# Gravatar and user profile link
-# cf: http://twitter.com/sstephenson/status/1227528821
.links=link_to 'all tweets', tweets_path
-if @tweet.accepts_comments? || @tweet.comments_count != 0
  %h2.major
    Comments
    =feed_icon tweet_path(@tweet, :format => :atom)
  %ol#comments.bubbles
    =render @comments
  %h2.major Add a comment
  -if @comment
    #ajax-flash
    #comment-form
      .links=link_to 'add a comment', new_tweet_comment_path(@tweet)
  -else
    %p Comments are now closed for this tweet. You can discuss it further in the #{link_to 'forums', forums_path}.
-content_for :javascript do
  :javascript
    ajaxCommentForm('#{new_tweet_comment_path @tweet.id}');
