<% if admin? %>
  /*
     Copyright 2008-2009 Wincent Colaiuta.

     This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU Affero General Public License as
     published by the Free Software Foundation, either version 3 of the
     License, or (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU Affero General Public License for more details.

     You should have received a copy of the GNU Affero General Public
     License along with this program.  If not, see
     <http://www.gnu.org/licenses/>.

     A copy of the GNU Affero General Public License is also available
     at <https://wincent.com/javascripts/agpl-3.0.txt>
   */
  var authenticity_token = '<%= form_authenticity_token %>';
  function escapeHTML(html) {
    return html.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
  }

  function edit_in_place(selector, class_name, attribute_name, url) {
    var model_id = jQuery(selector).attr('id'); /* issue_22 */
    var record_id = model_id.match(/_(\d+)$/)[1]; /* 22 */
    var field_id = jQuery('#' + model_id + '_' + attribute_name); /* issue_22_summary */
    function highlight() { field_id.addClass('highlight'); }
    function unhighlight() { field_id.removeClass('highlight'); }
    function clickFunction() {
      var field_text = field_id.text();
      field_id.unbind('mouseenter mouseleave');
      unhighlight();
      field_id.attr('title', 'Click outside to abort editing');
      field_id.html('<form action="javascript:void(0)" style="display:inline;"><input type="text" value="' +
        escapeHTML(field_text) +
        '"></form>');
      field_id.find('input')[0].select();
      field_id.unbind('dblclick');
      field_id.find('input').blur(function() {
        field_id.text(field_text);
        field_id.dblclick(clickFunction);
        field_id.hover(highlight, unhighlight);
      });
      field_id.find('form').submit(function() {
        var value = field_id.find('input').val();
        field_id.text('saving...');
        jQuery.ajax({
          'url': url + record_id,
          'type': 'post',
          'dataType': 'json',
          'data': '_method=put&' + class_name + '[' + attribute_name + ']=' + encodeURIComponent(value) +
            '&authenticity_token=' + encodeURIComponent(authenticity_token),
          'success': function(json) {
            field_id.text(json[class_name][attribute_name]);
          },
          'error': function() {
            field_id.text(value);
            /* possibly add CSS error coloring here */
            alert('something went wrong');
          },
          'complete': function() {
            field_id.hover(highlight, unhighlight);
            field_id.dblclick(clickFunction);
          }
        });
      });
    }
    field_id.attr('title', 'Double-click to edit');
    field_id.dblclick(clickFunction);
    field_id.hover(highlight, unhighlight);
  }

  jQuery(document).ready(function() {
    edit_in_place('div.issue', 'issue', 'summary', '/issues/');
    /* repeat for other AJAX fields */
  });
<% end %>
