ul.commits { list-style-type: none; }

li.commit { margin: 10px 0px; }
li.commit pre.message { display: none; margin-left: 170px; }
li.commit span.sha1 { float: left; padding-right: 10px; text-align: right; width: 160px; }
li.commit span.subject { display: block; font-weight: bold; }
li.commit span.subject a { color: gray; }
li.commit span.subject a:hover { text-decoration: none; }
li.commit span.author, li.commit span.committer { color: silver; display: block; font-style: italic; margin-left: 170px; }

li.commit + li.commit { border-top: 1px solid #eeeeee; padding-top: 10px; }
