.commit pre.message { padding: 12px; }
.commit table.meta { margin: 0px; padding: 10px; }
.commit table.meta td, .commit table.meta th { background: white; font-weight: normal; padding: 0px 10px; }

table.diff { border: 1px solid silver; border-collapse: collapse; margin: 12px 0px; padding: 0; width: 100%; }
table.diff caption { background: #eeeeee; border-left: 1px silver solid; border-right: 1px silver solid; border-top: 1px silver solid; font-weight: bold; margin: 0; padding: 5px 10px; text-align: left; }
table.diff caption .stat { float: right; }
table.diff td.context { width: 100%; }
table.diff td.added { width: 100%; }
table.diff td.added pre { background: #ddffdd; }
table.diff td.deleted { width: 100%; }
table.diff td.deleted pre { background: #ffdddd; }
table.diff td.line-number { background: #eeeeff; border-right: 1px silver solid; padding: 0 10px; text-align: right; }
table.diff td.line-number a { color: gray; font-family: Courier; font-weight: normal; }
table.diff td { height: 16px; line-height: 16px; margin: 0; padding: 0; }
table.diff td pre { background: #fefefe; border: 0px; display: block; height: 16px; line-height: 16px; margin: 0; max-width: 100%; padding: 0px 0px; width: 100%; }
table.diff td span.added { background: #aaffaa; }
table.diff td span.deleted { background: #ffaaaa; color: black; }
table.diff tr { height: 16px; line-height: 16px; margin: 0; padding: 0; }
table.diff tr.binary-diff td { padding: 20px; }
table.diff tr.hunk-header { background: #eeeeee; color: silver; }
table.diff tr.hunk-header:hover { color: black; }
