body { background: #fff; margin: 0pt; padding: 0pt; font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif; font-size: 75%; }

h1, h2, h3, h4, h5, h6 { color: #333333; }

p, li { color: #343434; }

pre { color: #999; background-color: #f9f9f9; border: 1px dashed #2f6fab; padding: 1em; font-size: 125%; line-height: 1.1em; overflow: auto; }

tt { color: #966; font-size: 125%; padding-left: 0.1em; padding-right: 0.1em; }

blockquote { padding-left: 24px; min-height: 32px; background: url(../images/blockquote.png) no-repeat left top; margin-left: 1em; margin-right: 2em; }
blockquote p, blockquote li { color: #999; }

a { color: #2971a7; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { font-weight: normal; }
a img { border: none; }

a.external:after { content: url(../images/external.png); }

a.mailto:after { content: url(../images/mailto.png); }

#header a { color: white; }
#header h1 { font-size: small; float: right; margin-top: 1em; }
#header h1 a { font-weight: bold; }

#logo { float: right; margin: 0.2em; }

#login { margin-right: 1em; float: right; }

#logout { margin-right: 1em; float: right; }

#navbar { font-size: small; background: url(../images/navbar.png) center center repeat-x; margin: 0em; padding-top: 1em; padding-bottom: 1em; }
#navbar li { display: inline; }
#navbar a { padding: 1em; margin-left: -0.35em; border-right: 1px solid white; color: white; }
#navbar a:hover { background: url(../images/navbar-current.png) center center repeat-x; }
#navbar li.last a { border-right: none; }

#navbar form { position: absolute; top: 1em; display: inline; font-size: 0.75em; }

#breadcrumbs { margin: 1em; font-size: 0.9em; }

#content { clear: both; padding: 0em 1em 1em 1em; }

#footer { clear: both; text-align: center; font-size: x-small; margin: 1em; }

div.two-columns { float: left; width: 50%; margin-bottom: 3em; }

#error, #notice, #warning { font-weight: bold; border: 1px solid gray; margin: 1em; padding: 1em; }

#error { background: #f9b8be; }

#notice { background: #c3e3b5; }

#warning { background: #959af9; }

.error, .notice, .warning { font-weight: bold; border: 1px solid gray; margin: 1em; padding: 1em; }

.error { background: #f9b8be; }

.notice { background: #c3e3b5; }

.warning { background: #959af9; }

.pagination { margin: 1em; font-size: xx-small; text-align: right; }
.pagination .disabled { color: gray; }
.pagination .first { padding-left: 18px; background: url(../images/first.png) no-repeat left center; }
.pagination .first.disabled { background: url(../images/first-disabled.png) no-repeat left center; }
.pagination .prev { padding-left: 18px; background: url(../images/previous.png) no-repeat left center; }
.pagination .prev.disabled { background: url(../images/previous-disabled.png) no-repeat left center; }
.pagination .next { padding-right: 18px; background: url(../images/next.png) no-repeat right center; }
.pagination .next.disabled { background: url(../images/next-disabled.png) no-repeat right center; }
.pagination .last { padding-right: 18px; background: url(../images/last.png) no-repeat right center; }
.pagination .last.disabled { background: url(../images/last-disabled.png) no-repeat right center; }

table.main { width: 95%; }
table.main input[type=text] { width: 100%; }
table.main textarea { width: 100%; }

td, th { padding: 0.5em; }

th { background: #f7f7f7; }

th.ascending a { font-weight: bold; background: url(../images/upwards-sort-triangle.png) no-repeat right center; padding-right: 16px; }

th.descending a { font-weight: bold; background: url(../images/downwards-sort-triangle.png) no-repeat right center; padding-right: 16px; }

tr.odd { background: #f7f7f7; }

tr.even { background: #eaeaea; }

.annotation { font-size: xx-small; font-weight: normal; color: #666; }

.fieldWithErrors input { border: 4px solid #f9b8be; }

.cloud { text-align: center; }
.cloud a { padding: 0.5em; }

.tag_info { text-align: right; }

.when { font-size: x-small; color: #bbb; }

.deleted { color: #bbb; }
.deleted a { color: #bbb; }

.post { margin-top: 3em; }
.post .when { margin-top: -1em; }
.post .info { padding: 1em; border-top: 1px dotted #eee; border-bottom: 1px solid #eee; }

.comments_link { background: url(../images/comment-bubble.png) no-repeat left center; padding-left: 22px; padding-top: 2px; padding-bottom: 2px; min-height: 22px; }

.edit_link { background: url(../images/edit.png) no-repeat left center; padding-left: 22px; padding-top: 2px; padding-bottom: 2px; min-height: 22px; }

.new_link { background: url(../images/new.png) no-repeat left center; padding-left: 22px; padding-top: 2px; padding-bottom: 2px; min-height: 22px; }

.back_link { background: url(../images/back.png) no-repeat left center; padding-left: 22px; padding-top: 2px; padding-bottom: 2px; min-height: 22px; }

.show_link { background: url(../images/show.png) no-repeat left center; padding-left: 22px; padding-top: 2px; padding-bottom: 2px; min-height: 22px; }

.update_link { background: url(../images/update.png) no-repeat left center; padding-left: 22px; padding-top: 2px; padding-bottom: 2px; min-height: 22px; }

.links { margin-top: 1.5em; margin-bottom: 1.5em; }
.links a { border: 1px solid gray; -webkit-border-radius: 0.33em; -webkit-box-shadow: 0.33em 0.33em 0.33em #aaa; -moz-border-radius: 0.33em; background: #eaeaea; padding: 1em; margin-left: 0.25em; margin-right: 0.25em; }
.links a:hover { -webkit-box-shadow: 0.1em 0.1em 0.1em #aaa; background: #aaa; color: white; }

.product { clear: both; }
.product .icon img { float: left; margin: 1em; }
