body { background: #dddddd; margin: 0px; padding: 0px; font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif; font-size: 75%; }

h1, h2, h3, h4, h5, h6 { color: #333333; }

h1.major { border-bottom: 2px solid #cccccc; }
h1.major a:hover { text-decoration: none; color: #ee7714; }

h2.major { border-bottom: 1px solid #cccccc; }
h2.major a:hover { text-decoration: none; color: #ee7714; }

p, li { color: #666666; }

pre { font-family: Consolas, Monaco, Courier; color: black; background-color: #ffffb6; border: 1px solid silver; padding: 1em; padding-top: 0em; padding-bottom: 1px; margin-left: 1em; margin-right: 2em; font-size: 110%; line-height: 18px; overflow: auto; }

pre span.line-number { counter-increment: line-number; text-align: right; float: left; margin-left: -1.5em; margin-right: 0.5em; padding-right: 0.5em; border-right: 1px solid silver; width: 3em; color: silver; background: #ffeeee; }

pre span.line-number:before { content: counter(line-number); }

pre span.added-syntax { color: #008800; }
pre span.boolean-syntax { color: #cd0000; }
pre span.comment-syntax { color: #0000ee; }
pre span.constant-syntax { color: #1a8b0a; }
pre span.deleted-syntax { color: #cc0000; }
pre span.hunk-header-syntax { color: #009c9c; }
pre span.identifier-syntax { color: #458b73; }
pre span.keyword-syntax { color: #1673cc; }
pre span.numeric-literal-syntax { color: #fc8a0b; }
pre span.preprocessor-syntax { color: #1673cc; }
pre span.statement-syntax { color: #b02f5f; }
pre span.string-literal-syntax { color: #0068ab; }
pre span.symbol-syntax { color: #fc8a0b; }

table pre { max-width: 640px; }

code, tt { color: #660000; font-family: Consolas, Monaco, Courier; font-size: 12px; padding-left: 0.1em; padding-right: 0.1em; }

blockquote { padding-left: 24px; padding-right: 24px; min-height: 32px; background: url(../images/blockquote.png) no-repeat left top; margin-left: 1em; margin-right: 2em; }
blockquote p, blockquote li { color: #999999; }

a { color: #2971a7; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { font-weight: normal; }
a img { border: none; }

a.external:after { content: url(../images/external.png); }

a.mailto:after { content: url(../images/mailto.png); }

#header h1 { font-size: medium; margin-top: -1em; margin-bottom: -1em; padding-top: 1em; padding-left: 1em; height: 54px; }
#header h1 a { font-weight: bold; }
#header h1 img { vertical-align: middle; }
#header #meta { background: url(../images/header-bg.png) left bottom repeat-x; }
#header #meta a { color: white; }

#header-shadow { height: 20px; background: url(../images/header-shadow.png) top repeat-x; }

#navbar { font-size: 0.9em; font-weight: bold; background: #83837d url(../images/navbar-bg.png) left top repeat-x; height: 11px; margin: 0em; padding-top: 1em; padding-bottom: 1em; }
#navbar li.selected > a { background: url(../images/navbar-selected.png) left top repeat-x; color: white; text-decoration: underline; }
#navbar > li { float: left; list-style-type: none; }
#navbar > li#login { margin-right: 1em; float: right; }
#navbar > li#logout { margin-right: 1em; float: right; }
#navbar li > ul { display: none; }
#navbar li li { display: block; margin: 0.5em; }
#navbar > li:hover > ul { display: block; border: 1px solid gray; -webkit-box-shadow: 5px 5px 5px #888888; -moz-box-shadow: 5px 5px 5px #888888; box-shadow: 5px 5px 5px #888888; -webkit-opacity: 0.95; -moz-opacity: 0.95; opacity: 0.95; filter: alpha(opacity=95); background: white; padding: 1em; position: absolute; top: 70px; z-index: 110; }
#navbar > li:hover ul { display: block; margin-bottom: 1.5em; }
#navbar > li:hover ul li li { margin-left: -2em; }
#navbar > li > a { padding: 1em; color: black; font-weight: bold; }
#navbar > li > a:hover { background: url(../images/navbar-hover.png) center center repeat-x; color: white; }

#navbar form { position: relative; top: -2px; left: 10px; width: 200px; display: inline; margin: 0em; padding: 0em; }
#navbar form input { margin: 0px; padding: 0px; font-size: 1em; }

#breadcrumbs { margin: 10px 10px 0px 10px; font-size: 0.9em; }

#content { line-height: 18px; clear: both; padding-top: 0.5em; padding-bottom: 1em; padding-left: 2em; padding-right: 3em; margin-top: 1em; margin-left: 1em; margin-right: 1em; -webkit-border-radius: 1em; -moz-border-radius: 1em; background: white; }

#header-shadow + #content { margin-top: -0.5em; }

#posts { float: left; width: 70%; margin: 0; }

#sidebar { margin-left: 73%; margin-top: 1em; margin-right: -1em; padding-left: 1.5em; padding-top: 0.5em; padding-bottom: 1em; padding-right: 1.5em; border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em; background: #eeeeee; border: 2px solid silver; }
#sidebar .hoverlink { visibility: visible; display: none; }
#sidebar .tweet:hover .hoverlink { display: inline; }
#sidebar .info { text-align: right; }

.clearboth { clear: both; }

.clearleft { clear: left; }

.clearright { clear: right; }

.left { float: left; }

.right { float: right; }

#footer { clear: both; text-align: center; font-size: x-small; margin: 1em; }
#footer ul li { list-style-type: none; display: inline; padding: 5px 10px 5px 10px; }
#footer ul li + li { border-left: 1px solid silver; }

div.two-columns { float: left; width: 50%; margin-bottom: 3em; }

div.column { padding-left: 1.5em; padding-right: 1.5em; }

#cacheable-flash ul { margin: 0em; }
#cacheable-flash li { color: black; }

#error, #notice { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font-weight: bold; margin: 1em; padding: 1em; padding-left: 36px; }

#error { border: 1px solid #b77d74; background-color: #f9b8be; background-image: url(../images/exclamation.png); background-position: 10px center; background-repeat: no-repeat; }

#notice { border: 1px solid #72a384; background-color: #c3e3b5; background-image: url(../images/information.png); background-position: 10px center; background-repeat: no-repeat; }

.error, .notice { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font-weight: bold; margin: 1em; padding: 1em; padding-left: 36px; }

.error { border: 1px solid gray; background-color: #f9b8be; background-image: url(../images/exclamation.png); background-position: 10px center; background-repeat: no-repeat; }

.notice { border: 1px solid gray; background-color: #c3e3b5; background-image: url(../images/information.png); background-position: 10px center; background-repeat: no-repeat; }

.spinner { padding-left: 0.33em; margin-bottom: -0.1em; display: none; }

.ajax_error { background: #f9b8be; }

.pagination { margin: 1em; font-size: x-small; text-align: right; }
.pagination .disabled { color: gray; }
.pagination .first { padding-left: 18px; background: url(../images/first.png) no-repeat left center; }
.pagination .first.disabled { background: url(../images/first-disabled.png) no-repeat left center; }
.pagination .prev { padding-left: 18px; background: url(../images/previous.png) no-repeat left center; }
.pagination .prev.disabled { background: url(../images/previous-disabled.png) no-repeat left center; }
.pagination .next { padding-right: 18px; background: url(../images/next.png) no-repeat right center; }
.pagination .next.disabled { background: url(../images/next-disabled.png) no-repeat right center; }
.pagination .last { padding-right: 18px; background: url(../images/last.png) no-repeat right center; }
.pagination .last.disabled { background: url(../images/last-disabled.png) no-repeat right center; }

table tbody tr th { text-align: right; }

table thead tr th { text-align: center; border-bottom: 1px silver solid; border-right: 1px silver solid; }

td, th { padding: 0.5em; }

th { background: #f7f7f7; }

th.ascending a { font-weight: bold; background: url(../images/upwards-sort-triangle.png) no-repeat right center; padding-right: 16px; }

th.descending a { font-weight: bold; background: url(../images/downwards-sort-triangle.png) no-repeat right center; padding-right: 16px; }

tr.odd { background: #f7f7f7; }

tr.even { background: #eaeaea; }

form .annotation { font-size: x-small; font-weight: normal; color: #666666; }

form input.field_with_errors, form textarea.field_with_errors { border: 4px solid #f9b8be; }
form li { display: block; list-style: none; padding-top: 5px; padding-bottom: 5px; }
form li input[type=password], form li input[type=text], form li textarea { width: 70%; }
form li label { display: inline-block; text-align: right; color: black; font-weight: bold; vertical-align: top; padding-right: 1em; width: 20%; }
form li + li { border-top: 1px solid #eeeeee; }

.cloud { text-align: center; }
.cloud a { padding: 0.5em; }

.filterbox { float: right; max-width: 15em; margin: 1em; border: 1px solid gray; -webkit-border-radius: 0.33em; -webkit-box-shadow: 0.33em 0.33em 0.33em #aaaaaa; -moz-border-radius: 0.33em; padding: 1em; }
.filterbox h3 { margin-top: 0em; }
.filterbox p { font-size: xx-small; }

.when { font-size: x-small; color: #bbbbbb; }
.when a { color: #bbbbbb; font-weight: normal; }

.hoverlink { visibility: hidden; font-size: x-small; color: #bbbbbb; border-left: 1px solid silver; padding-left: 6px; }
.hoverlink a { color: #bbbbbb; font-weight: normal; }

.comment:hover .hoverlink { visibility: visible; }

.snippet:hover .hoverlink { visibility: visible; }

.tweet:hover .hoverlink { visibility: visible; }

.deleted { color: #bbbbbb; }
.deleted a { color: #bbbbbb; }

.highlight { background: #eeeeee; }

.post { margin-top: 3em; }
.post .when { margin-top: -1em; }
.post .info { text-align: right; padding: 1em; }

.comments_link { float: left; background: url(../images/comment-bubble.png) no-repeat left top; padding-left: 22px; padding-top: 0px; padding-bottom: 0px; min-height: 22px; }

input[type=submit] { position: relative; margin-right: 0.25em; border-top: 0; border-right: 0; border-left: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.25); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); background: #007d9a; padding-left: 1.5em; padding-right: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em; color: white; font-weight: bold; font-size: 12px; }
input[type=submit]:hover { background: #77bed2; color: white; text-decoration: none; }
input[type=submit]:active { top: 1px; }
input[type=submit].destructive { background: #a9014b; }
input[type=submit].destructive:hover { background: #630030; }
input[type=submit].disabled { background: silver; }
input[type=submit].disabled:hover { background: silver; }

li > input[type=submit] { margin-left: 21%; }

input[type=button] { position: relative; margin-right: 0.25em; border-top: 0; border-right: 0; border-left: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.25); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); background: #007d9a; padding-left: 1.5em; padding-right: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em; color: white; font-weight: bold; font-size: 12px; }
input[type=button]:hover { background: #77bed2; color: white; text-decoration: none; }
input[type=button]:active { top: 1px; }
input[type=button].destructive { background: #a9014b; }
input[type=button].destructive:hover { background: #630030; }
input[type=button].disabled { background: silver; }
input[type=button].disabled:hover { background: silver; }

form.button_to { display: inline; }
form.button_to div { display: inline; }

.links { margin-top: 2.5em; margin-bottom: 2.5em; }
.links a { position: relative; margin-right: 0.25em; border-top: 0; border-right: 0; border-left: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.25); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); background: #007d9a; padding-left: 1.5em; padding-right: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em; color: white; font-weight: bold; font-size: 12px; }
.links a:hover { background: #77bed2; color: white; text-decoration: none; }
.links a:active { top: 1px; }
.links a.destructive { background: #a9014b; }
.links a.destructive:hover { background: #630030; }
.links a.disabled { background: silver; }
.links a.disabled:hover { background: silver; }

td.links a { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-size: 10px; font-weight: normal; padding: 3px 15px 3px 15px; }
td.links form input { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-size: 10px; font-weight: normal; padding: 3px 15px 3px 15px; }

.product { clear: both; }
.product .icon img { float: left; margin: 1em; }

.prev_next { margin-top: -1em; text-align: right; }

.comments th { padding: 1em; vertical-align: top; background: white; }
.comments th + td { padding-top: -0.5em; border-bottom: 1px solid #cccccc; width: 85%; }
.comments tr.private > th { background: url(../images/lock.png) no-repeat right bottom; }

.comments .odd th + td { border: 1px solid #cccccc; background: #f7f7f7; }

.comments .even th + td { border: 1px solid #cccccc; background: #eaeaea; }

#preview_link img { padding-left: 0.33em; margin-bottom: -0.1em; }
#preview_link #preview_spinner { display: none; }
