table { width: 100%; }

.issue table input[type=text] { width: 100%; }
.issue table textarea { width: 100%; }
.issue th { padding: 1em; vertical-align: top; background: white; }
.issue th + td { padding-top: -0.5em; border-bottom: 1px solid #cccccc; width: 85%; }

.issue.private h1 { background: url(../images/lock.png) no-repeat right center; }

ol.comments .comment.private cite:after { content: url(../images/lock.png); }

ol.comments.boxed > li.odd { margin-bottom: 10px; padding: 0px; background: #f7f7f7; border: 1px solid #cccccc; list-style: none; }
ol.comments.boxed > li.odd > blockquote { background-image: none; border-left: 1px solid #cccccc; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; margin: 0px 0px 0px -2px; vertical-align: top; display: inline-block; width: 80%; }
ol.comments.boxed > li.odd > blockquote ul, ol.comments.boxed > li.odd > blockquote ol { margin-bottom: 12px; margin-top: 12px; }
ol.comments.boxed > li.odd > blockquote > p, ol.comments.boxed > li.odd > blockquote li { color: #666666; }
ol.comments.boxed > li.odd cite { display: inline-block; vertical-align: top; font-style: normal; width: 10%; border-right: 1px solid #cccccc; background-image: none; margin: 0px -3px 0px 0px; padding: 10px; }

ol.comments.boxed > li.even { margin-bottom: 10px; padding: 0px; background: #eaeaea; border: 1px solid #cccccc; list-style: none; }
ol.comments.boxed > li.even > blockquote { background-image: none; border-left: 1px solid #cccccc; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; margin: 0px 0px 0px -2px; vertical-align: top; display: inline-block; width: 80%; }
ol.comments.boxed > li.even > blockquote ul, ol.comments.boxed > li.even > blockquote ol { margin-bottom: 12px; margin-top: 12px; }
ol.comments.boxed > li.even > blockquote > p, ol.comments.boxed > li.even > blockquote li { color: #666666; }
ol.comments.boxed > li.even cite { display: inline-block; vertical-align: top; font-style: normal; width: 10%; border-right: 1px solid #cccccc; background-image: none; margin: 0px -3px 0px 0px; padding: 10px; }

ol.comments.boxed > li.admin { margin-bottom: 10px; padding: 0px; background: white; border: 1px solid #cccccc; list-style: none; }
ol.comments.boxed > li.admin > blockquote { background-image: none; border-left: 1px solid #cccccc; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; margin: 0px 0px 0px -2px; vertical-align: top; display: inline-block; width: 80%; }
ol.comments.boxed > li.admin > blockquote ul, ol.comments.boxed > li.admin > blockquote ol { margin-bottom: 12px; margin-top: 12px; }
ol.comments.boxed > li.admin > blockquote > p, ol.comments.boxed > li.admin > blockquote li { color: #666666; }
ol.comments.boxed > li.admin cite { display: inline-block; vertical-align: top; font-style: normal; width: 10%; border-right: 1px solid #cccccc; background-image: none; margin: 0px -3px 0px 0px; padding: 10px; }
