table { width: 100%; }

.issue table input[type=text] { width: 100%; }
.issue table textarea { width: 100%; }
.issue th { padding: 1em; vertical-align: top; background: white; }
.issue th + td { padding-top: -0.5em; border-bottom: 1px solid #cccccc; width: 85%; }

.issue.private h1 { background: url(../images/lock.png) no-repeat right center; }

ol.comments .comment.private cite:after { content: url(../images/lock.png); }

ol.comments.boxed > li { margin-bottom: 10px; padding: 0px; background: blue; border: 1px solid gray; list-style: none; }
ol.comments.boxed > li > blockquote { background-color: red; background-image: none; border: none; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; margin: 0px; float: right; width: 80%; }
ol.comments.boxed > li > blockquote ul, ol.comments.boxed > li > blockquote ol { margin-bottom: 12px; margin-top: 12px; }
ol.comments.boxed > li cite { width: 20%; float: left; background-color: green; background-image: none; margin: 0px; }
