form { text-align: center; }
form input[type=submit] { vertical-align: middle; }

.tips { margin-left: auto; margin-right: auto; margin-top: -2em; margin-bottom: 3em; width: 66%; }

.result { border-bottom: 1px solid #cccccc; padding: 1em; }
.result h2 { margin-bottom: 0em; }
.result .when { margin-left: 2.7em; }
.result .annotation { margin-left: 3em; }

.result.odd { background: #f7f7f7; }

.result.even { background: #eaeaea; }

.excerpt { margin-left: 2em; margin-right: 2em; }
