%h1 Create new link
=error_messages_for :link
-form_for :link, :url => links_path do |f|
  %table
    %tr
      %th URI
      %td=f.text_field :uri
    %tr
      %th
        Permalink
        %br
        %span.annotation (optional)
      %td=f.text_field :permalink
  %p=f.submit 'Create'
%p=link_to 'back', links_path
