-@page_title = 'Edit user'
=breadcrumbs link_to(@user.display_name, @user), @page_title
%h1.major=@page_title
=render 'shared/error_messages', :model => @user
=form_for @user do |f|
  %ul
    %li
      =f.label :display_name,
        annotation('Display name', 'what other users will see')
      =f.text_field :display_name
    -unless @user.emails.active.empty?
      -# TODO: radio buttons or similar UI here to select default?
      %li
        =f.label 'emails',
          annotation('Emails', link_to('add new email address', new_user_email_path(@user)))
        %ul
          -@user.emails.active.each do |email|
            %li
              -if admin?
                =link_to email.address, edit_user_email_path(@user, email)
              -else
                =mail_to email.address
              -# TODO: add more info here and possibly a confirmation button
              -# this could allow us to dump the confirmation#new action entirely
              -#email.verified ? '(verified)' : '(unverified)'
              -#="(default)" if email.default? # right now default is meaningless, so not showing it
    %li
      =f.label :old_passphrase,
        annotation('Old passphrase', 'leave blank unless you want to set a new passphrase')
      =f.password_field :old_passphrase
    %li
      =f.label :passphrase, 'New passphrase'
      =f.password_field :passphrase
    %li
      =f.label :passphrase_confirmation,
        annotation('New passhrase again', 'confirm your new passphrase')
      =f.password_field :passphrase_confirmation
    -if admin?
      -# admins can manipulate some additional attributes at creation time
    %li=f.submit
.links
  =link_to 'user profile', user_path(@user)
  -if admin?
    =link_to 'all users', users_path
