%h1 Edit user
=error_messages_for :user
=error_messages_for :email
-form_for @user, :url => user_path(@user) do |f|
  %table.main_form
    %tr
      %th
        Display name
        %br
        %span.annotation what other users will see
      %td=f.text_field :display_name
    %tr
      %th=@emails.length != 1 ? 'Emails' : 'Email'
      %td
        -# TODO: radio buttons or similar UI here to select default?
        -for email in @emails
          -if admin?
            =link_to email.address, edit_user_email_path(@user, email)
          -else
            =mail_to email.address
          =check_box_tag "delete_email[#{email.id}]"
          delete
          %br
          -# would be nice to offer the user an undo for this deletion on landing on the next page
    %tr
      %th
        Add a new email
        %br
        %span.annotation a confirmation email will be sent to this address
      %td=f.text_field :email
    %tr
      %th
        Old passphrase
        %br
        %span.annotation leave blank unless you want to set a new passphrase
      %td=f.password_field :old_passphrase
    %tr
      %th New passphrase
      %td=f.password_field :passphrase
    %tr
      %th
        New passhrase again
        %br
        %span.annotation confirm your new passphrase
      %td=f.password_field :passphrase_confirmation
    -if admin?
      -# admins can manipulate some additional attributes at creation time
  %p=f.submit 'Save changes'
  -# TODO: consider adding an "undelete emails" button here
.links
  =link_to 'user profile', user_path(@user)
  -if admin?
    =link_to 'all users', users_path
