%h1 Users
%table
  %tr
    %th ID
    %th Display name
    %th Email
    %th Created
    %th Actions
  -for @user in @users
    %tr
      %td=@user.id
      %td=link_to @user.display_name, user_path(@user)
      %td
        -for email in @user.emails do
          =link_to email.address, edit_user_email_path(@user, email)
          =(email.verified? ? ' (verified)' : ' (unverified)')
          %br
      %td=@user.created_at.distance_in_words
      %td
        =link_to 'edit', edit_user_path(@user)
