=breadcrumbs 'Users'
%h1.major Users
%table.table
  %thead
    %tr
      %th ID
      %th Display name
      %th Email
      %th Created
      %th Actions
  -unless @users.empty?
    %tbody
      -for user in @users
        %tr
          %td=user.id
          %td=link_to user.display_name, user_path(user)
          %td
            -for email in user.emails do
              %div{:class => email.deleted? ? 'deleted' : nil}
                =link_to email.address, edit_user_email_path(user, email)
                =email_status email
          %td=user.created_at.distance_in_words
          %td.links
            =link_to 'edit', edit_user_path(user)
