%h1 Create new user
=error_messages_for :user
=error_messages_for :email
-form_for @user, :url => users_path do |f|
  %table.main
    %tr
      %th
        Email
        %br
        %span.annotation a confirmation email will be sent to this address
      %td=f.text_field :email
    %tr
      %th
        Display name
        %br
        %span.annotation what other users will see
      %td=f.text_field :display_name
    %tr
      %th Passphrase
      %td=f.password_field :passphrase
    %tr
      %th
        Passhrase again
        %br
        %span.annotation confirm your passphrase
      %td=f.password_field :passphrase_confirmation
    -if admin?
      -# admins can manipulate some additional attributes at creation time
  %p=f.submit 'Create'
%p=link_to 'back', users_path
