-@page_title = "#{@user.display_name}"
=breadcrumbs 'Users', @user.display_name
%h1.major=@page_title
%h2 Public profile
%table
  %thead
    %tr
      %th Display name
      %th=@user.display_name
  %tbody
    %tr
      %th Posts
      %td=number_with_delimiter @user.utterances_count
    %tr
      %th Signed up
      %td=@user.created_at.distance_in_words
-if logged_in_and_verified?
  -#
-elsif logged_in?
  -#
-if admin?
  -#
-if @user == current_user
  -# user looking at own profile sees this (email addresses etc)
