=page_title "User: #{@user.display_name}"
%h2 Public profile
%table
  %tr
    %th Display name
    %th=@user.display_name
  %tr
    %th Posts
    %td=@user.utterances_count
  %tr
    %th Signed up
    %td=@user.created_at.distance_in_words

-if logged_in_and_verified?
  -#
-elsif logged_in?
  -#
-if admin?
  -#
-if @user == current_user
  -# user looking at own profile sees this (email addresses etc)
