.notice
  You are posting <em>anonymously</em> so your submission will be held for moderation.
  =link_to 'Log in', login_url(:original_uri => request.request_uri)
  or
  =link_to 'sign up', new_user_url(:original_uri => request.request_uri)
  to avoid this delay.
