-# TODO: have to make sure that model is never nil
-if [model].flatten.any? {|m| m && m.errors.any? }
  #validation_errors
    -[model].flatten.each do |m|
      -if m && m.errors.any?
        %h2
          =pluralize m.errors.count, 'error'
          prevented this #{m.class.to_s.humanize} from being saved
        %ul
          -m.errors.each do |attribute, message|
            %li="#{attribute.to_s.gsub('.', '_').humanize} #{message}"
