-if model && model.errors.any?
  #validation_errors
    %h2
      =pluralize model.errors.count, 'error'
      prevented this record from being saved
    %ul
      -model.errors.full_messages.each do |msg|
        %li=msg
