-# TODO: make sure we always have a model, then we can skip the nil check here
-if model && model.errors.any?
  #validation_errors
    %h2
      =pluralize model.errors.count, 'error'
      prevented this record from being saved
    %ul
      -model.errors.each do |attribute, message|
        %li="#{attribute.to_s.gsub('.', '_').humanize} #{message}"
