-# expects tags local variable to be defined and passed in as:
-# render :partial => 'shared/tags', :locals => { :tags => @article.tags }
.cloud
  %h2 Tags
  -if tags.nil? or tags.empty?
    none
  -else
    -for tag in tags
      =scaled_tag tag
