%h1 Tags
%table
  %tr
    -sortable_header_cell :name, 'Name'
    -sortable_header_cell :taggings_count, 'Taggings count'
    %th Actions
  -for @tag in @tags
    %tr{:class => cycle('odd', 'even')}
      %td=in_place_editor_field :tag, :name
      %td=@tag.taggings_count
      %td.links
        =link_to 'edit', edit_tag_path(@tag)
        =link_to 'destroy', @tag, :confirm => 'Are you sure?', :method => :delete
%p.links
  =link_to 'new', new_tag_path
  =link_to 'cloud', tags_path
