-content_for :javascript do
  =javascript_include_tag 'ajax'
#ajax-flash
%h1 Tags
%table
  %tr
    -sortable_header_cell :name, 'Name'
    -sortable_header_cell :taggings_count, 'Taggings count'
    %th Actions
  -for @tag in @tags
    %tr{:class => "tag #{cycle('odd', 'even')}", :id => "tag_#{@tag.id}"}
      %td{'id' => "tag_#{@tag.id}_name"}=@tag.name
      %td=@tag.taggings_count
      %td.links
        =link_to 'edit', edit_tag_url(@tag)
        =link_to 'destroy', @tag, :confirm => 'Are you sure?', :method => :delete
%p.links
  =link_to 'new', new_tag_url
  =link_to 'cloud', tags_url
