%h1 Reset passphrase
-# BUG: if there are errors for both user and reset well get two divs with same ID
=render 'shared/error_messages', :model => @reset
=render 'shared/error_messages', :model => @user
-form_for @reset, :url => reset_path(@reset) do |f|
  %table.main
    %tr
      %th
        Email address
        %br
        %span.annotation confirm your identity
      %td=f.text_field :email_address
    %tr
      %th New passphrase
      %td=password_field_tag :passphrase
    %tr
      %th
        New passhrase again
        %br
        %span.annotation confirm your new passphrase
      %td=password_field_tag :passphrase_confirmation
  %p=f.submit 'Save changes'
