-page_title 'Reset your passphrase'
=form_for @reset, :url => resets_path do |f|
  %table.main
    %tr
      %th
        .label=label_tag :reset_email_address, 'Email address'
        %span.annotation an email will be sent to this address
      %td=f.text_field :email_address
  %p=f.submit 'Reset passphrase'
.links
  =link_to 'login', login_path
