%ul
  %li
    =f.label :title
    =f.text_field :title
  %li
    =f.label :permalink
    =f.text_field :permalink
  %li
    =f.label :body
    =f.text_area :body, :rows => 30
  %li
    =f.label :markup_type, 'Markup'
    =f.select :markup_type, Page::MARKUP_TYPES
  %li
    =f.label :front, 'Front page?'
    =f.check_box :front
  %li=f.submit
