%h1 Create new page
=render 'shared/error_messages', :model => @page
-form_for @page, :url => product_pages_path(@product), :method => :post do |f|
  =render 'form', :f => f
.links
  =link_to 'show product', product_path(@product)
