%h1 Create new page
=error_messages_for :page
-form_for @page, :url => product_pages_path(@product), :method => :post do |f|
  %table.main
    %tr
      %th Title
      %td=f.text_field :title
    %tr
      %th Permalink
      %td=f.text_field :permalink
    %tr
      %th
        Body
        %br
        %span.annotation (HTML)
      %td=f.text_area :body, :cols => 80, :rows => 30
    %tr
      %th Front page?
      %td=f.check_box :front
  %p=f.submit 'Create'
.links
  =link_to 'show product', product_path(@product)
