-@page_title = 'New page'
=breadcrumbs link_to('Products', products_path),
  link_to(@product.name, edit_product_path(@product)),
  @page_title
%h1.major=@page_title
=render 'shared/error_messages', :model => @page
=form_for @page, :url => product_pages_path(@product), :method => :post do |f|
  =render 'form', :f => f
.links
  =link_to 'show product', product_path(@product)
