.issue
  table
    width:            95%
    input[type=text]
      width:          100%
    textarea
      width:          100%
  th
    padding: 1em
    vertical-align: top
    background: white
  th + td
    padding-top: -0.5em
    border-bottom: 1px solid #ccc
    width: 85%

.issue.private
  h1
    background: url(../images/lock.png) no-repeat right center
