host: wincent.com
port: 443
protocol: https
shortlink:
  host: wt.pe
  port: 80
  protocol: http
admin_email: greg@hurrell.net
admin_name: Greg Hurrell
support_email: support@wincent.com
support_password: supersecret
session_key: _wincent_on_rails_session
session_secret: 26c5cd7d236db2b6add7dfd99b667227739fce2e0be44b00e89ee774368c9862fccb3e1ad00c57b872263f9aa714625ee8e273b929ac
session_secret_v2: g3cuklmzcfgijp32f491g5gl7osorubani983pb54582ft9e5i
twitter_url: https://twitter.com/wincent
attachment_salt: e803cacdca75416d48ff2af539ff6fb743c327db80d27203b9b8067a73d0ced6
memcached_host: localhost:11211
