#ajax-flash
-page_title 'Posts administration'
-content_for :javascript do
  =javascript_include_tag 'ajax'
  :javascript
    $(document).ready(function() {
      edit_in_place('tr.post', 'post', 'title', '/admin/posts/');
      edit_in_place('tr.post', 'post', 'permalink', '/admin/posts/');
    });
%table
  %tr
    -sortable_header_cell :title, 'Title'
    -sortable_header_cell :permalink, 'Permalink'
    -sortable_header_cell :created_at, 'When'
    %th Actions
  -for @post in @posts
    %tr{:class => "post #{cycle('odd', 'even')}", :id => "post_#{@post.id}"}
      %td{'id' => "post_#{@post.id}_title"}=h @post.title
      %td{'id' => "post_#{@post.id}_permalink"}=h @post.permalink
      %td=timeinfo @post
      %td.links
        =link_to 'edit', edit_post_path(@post)
        -# TODO: replace this with a real form (link with confirmation isn't safe enough)
        =link_to 'destroy', post_path(@post), :confirm => 'Are you sure?', :method => :delete
%p.links
  =link_to 'new', new_post_path
  =link_to 'public index', posts_path
