=page_title 'Posts administration'
-content_for :javascript do
  =javascript_include_tag 'ajax'
%table
  %tr
    -sortable_header_cell :title, 'Title'
    -sortable_header_cell :permalink, 'Permalink'
    -sortable_header_cell :created_at, 'When'
    %th Actions
  -for @post in @posts
    %tr{:class => "post #{cycle('odd', 'even')}", :id => "post_#{@post.id}"}
      %td{'id' => "post_#{@post.id}_title"}=h @post.title
      %td{'id' => "post_#{@post.id}_permalink"}=h @post.permalink
      %td=timeinfo @post
      %td.links
        =link_to 'edit', edit_post_url(@post)
        =link_to 'destroy', post_url(@post), :confirm => 'Are you sure?', :method => :delete
%p.links
  =link_to 'new', new_post_url
  =link_to 'public index', posts_url
