=unless @reachable_tags.blank?
  .filterbox
    %h3 Narrow your search
    %p
      Show items tagged with
      %strong
        =tags.collect(&:name).join(', ')
      %em and
    .cloud
      -for tag in @reachable_tags
        =scaled_filter_tag tag, tags
