-@taggables.each do |group|
  %h3=pluralizing_count group.taggables.length, taggable_name(group.name)
  %ul.taggables
    -group.taggables.each do |taggable|
      %li
        =link_to_model taggable
        .when=timeinfo taggable
