-@taggables.each do |group|
  %h3=pluralizing_count group.taggables.length, taggable_name(group.name)
  %table
    %thead
      %tr
        %th Item
        %th When
    %tbody
      -group.taggables.each do |taggable|
        %tr
          %td=link_to_model taggable
          %td=timeinfo taggable
