=search_page_title
-if @taggables
  %h2.major=taggables_search_summary
  =render :partial => 'filterbox', :locals => { :tags => @tags[:found] }
  =render :partial => 'taggings'
%div{ :style => 'clear:both;' }
  %h2.major Search
  -form_tag search_tags_url, :method => 'get' do
    %span.annotation Find items which feature <em>all</em> of the specified tags
    %br
    =text_field_tag :q, params[:q], :size => 40
    =submit_tag 'Search'
  .links
    =link_to 'all tags', tags_url
