=breadcrumbs link_to('Tags', tags_path), @tag.name
%h1.major ##{@tag.name}
%h2.major
  =item_count @taggables.sum { |group| group.taggables.length }
  tagged with
  =@tag.name
=render 'filterbox', :tags => [@tag]
=render 'taggings'
.links
  =link_to 'all tags', tags_path
  =link_to 'tag search', search_tags_path
