#header
  #navbar
    %ul
      %li
        Products
        %ul
          %li Synergy
          %li Synergy Advance
          %li REnamer
          %li Hextrapolate
          %li Other Products...
      %li Store
      %li
        Support
        %ul
          %li Lost license codes
          / Consolidated bugs, feature requests, feedback and support requests into one entry, "Support tickets"
          / Would like to consolidate things even further if possible...
          / Not sure if "support tickets" is clear enough: ie. someone looking for "bug reports" may not find it
          %li Support tickets
          %li Forums
          %li Mailing lists
          %li Contact
      %li About
      %li
        News
        %ul
          %li Wincent Colaiuta's weblog
      / Formerly the "Knowledge Base"; "Wiki" is shorter and less pretentious
      %li Wiki
      %li
        Sitemap
        %ul
          / May put separate search box up instead of having this in the nav bar
          %li Search
  #breadcrumbs
    breadcrumbs &gt; go &gt; here

