#login
  %h1 Login
  -form_tag sessions_path do
    =hidden_field_tag :original_uri, params[:original_uri]
    %p
      .label Login name
      =text_field_tag :login_name, params[:login_name]
    %p
      .label Password
      =password_field_tag :passphrase, params[:passphrase]
    %p
      =submit_tag 'Log in'
      &nbsp;login via OpenID
%ul
  %li=link_to 'Sign up', new_user_path
  %li=link_to 'Lost password'
