%h2
  =result_number
  \:
  =link_to h(model.summary), issue_path(model)
.when=timeinfo model
%span.annotation Issue tracker ticket (#{model.status_string.downcase}, #{model.kind_string.downcase})
-unless model.description.blank?
  .excerpt
    =truncate(model.description, :length => 240, :safe => true).w :base_heading_level => 2
