%h1 Latest posts
-for @post in @posts
  .post
    %h2=link_to h(@post.title), blog_path(@post)
    .when=timeinfo @post, :precise
    %p=excerpt_html
    .info
      =comments_link(@post)
      =link_to_if !@post.body.blank?, 'more...', (blog_path(@post)) do; end
      .tag_info==Tags: #{tag_links(@post)}
      -admin_only do
        .links
          =link_to 'edit', edit_blog_path(@post), :class => 'edit_link'
          =link_to 'destroy', blog_path(@post), :confirm => 'Are you sure?', :method => :delete, :class => 'destroy_link'
          =link_to 'new', new_blog_path, :class => 'new_link'
-# TODO: add search box here
