-@page_title = 'blog index'
=breadcrumbs 'Blog'
#posts
  %h1.major Blog posts
  =@paginator.pagination_links if @paginator
  -@posts.each do |post|
    .post
      %h2.major=link_to post.title, post_path(post)
      .when
        =timeinfo post
        by
        =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
      =post.excerpt.w :base_heading_level => 2
      -unless post.body.blank?
        =link_to 'more...', post_path(post, :anchor => 'body')
      .info
        =comments_link(post)
        =link_to 'Tags', tags_path
        \:
        =tag_links(post)
  -# TODO: add search box here
  =@paginator.pagination_links if @paginator
%aside
  -cache :tweets_sidebar do
    %h2.major Tweets
    =render 'tweets/tweets.html.haml'
    %hr
    %p=link_to 'more tweets', tweets_path
.clearboth
