-content_for :css do
  =stylesheet_link_tag 'posts'
-@page_title = 'blog index'
-atom_link posts_path(:format => :atom)
#posts
  %h1
    Blog posts
    =feed_icon posts_path(:format => :atom)
  -if @paginator
    .pagination=@paginator.pagination_links
  -for @post in @posts
    .post
      %h2.major=link_to h(@post.title), post_path(@post)
      .when==#{timeinfo @post} by #{APP_CONFIG['admin_name']}
      =excerpt_html :base_heading_level => 2
      -unless @post.body.blank?
        =link_to 'more...', post_path(@post, :anchor => 'body')
      .info
        =comments_link(@post)
        =link_to 'Tags', tags_path
        \:
        =tag_links(@post)
  -# TODO: add search box here
  -if @paginator
    .pagination=@paginator.pagination_links
#sidebar
  -cache :tweets_sidebar do
    %h1
      Tweets
      =feed_icon tweets_path(:format => :atom)
    =render 'tweets/tweets.html.haml'
    %hr
    %p=link_to 'more tweets', tweets_path
.clearboth
