-@page_title = 'blog index'
=breadcrumbs 'Blog'
#posts
  -@posts.each do |post|
    .post
      %h2.major=link_to post.title, post_path(post)
      .when
        =timeinfo post
        by
        =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
      =post.excerpt.w :base_heading_level => 2
      -unless post.body.blank?
        =link_to 'more...', post_path(post, :anchor => 'body')
      .info
        -# BUG: comment count is inaccurate here (includes non-public comments and
        -#      comments awaiting moderation), but we can't do an actual query here
        -#      (such as comments.published.count) without running into N+1
        -#      select problems; see lib/commentable for some notes on how we might
        -#      be able to implement a custom counter cache to work around this
        -#      problem
        - if post.accepts_comments? || post.comments_count > 0
          = link_to comment_count(post.comments_count),
              post_path(post, anchor: 'comments'), class: 'comments-link'
        = link_to icon('tags'), tags_path, class: 'tags-link'
        = tag_links(post)
  =@paginator.pagination_links if @paginator
