-content_for :javascript do
  =javascript_include_tag 'ajax'
  :javascript
    $(function() {
      observe_field({ 'kind': 'post', 'fieldName': 'title', 'include': ['excerpt', 'body'], 'url': '#{posts_path}' });
      observe_field({ 'kind': 'post', 'fieldName': 'excerpt', 'include': ['title', 'body'], 'url': '#{posts_path}' });
      observe_field({ 'kind': 'post', 'fieldName': 'body', 'include': ['title', 'excerpt'], 'url': '#{posts_path}' });
      setup_preview_link({ 'kind': 'post', 'include': ['body', 'title', 'excerpt'], 'url': '#{posts_path}' });
    });
-@page_title = 'New post'
=breadcrumbs link_to('Blog', posts_path), @page_title
%h1.major=@page_title
=render 'shared/error_messages', :model => @post
=form_for @post do |f|
  %ul
    %li
      =f.label :title
      =f.text_field :title
    %li
      =f.label :permalink, annotation('Permalink', 'optional')
      =f.text_field :permalink
    %li
      =f.label :excerpt, annotation('Excerpt', wikitext_cheatsheet)
      =f.text_area :excerpt
    %li
      =f.label :body, annotation('Body', 'optional')
      =f.text_area :body, :rows => 30
    %li
      =f.label :pending_tags, 'Tags'
      =f.text_field :pending_tags
    %li
      =f.label :public
      =f.check_box :public
    %li
      =f.label :accepts_comments
      =f.check_box :accepts_comments
    %li
      =f.submit
%h2#preview_link.major Preview
-# TODO: graceful non-JS fallback
#ajax-flash
#preview=render 'preview'
.links=link_to 'all posts', posts_path
