%h1 Create new post
=error_messages_for :post
-form_for @post, :url => posts_path do |f|
  %table.main
    %tr
      %th Title
      %td=f.text_field :title
    %tr
      %th
        Permalink
        %br
        %span.annotation (optional)
      %td=f.text_field :permalink
    %tr
      %th
        Excerpt
        %br
        %span.annotation==(#{wikitext_cheatsheet})
      %td=f.text_area(:excerpt, :cols => 80)
    %tr
      %th
        Body
        %br
        %span.annotation (optional)
      -# TODO: make text area grow with window
      %td=f.text_area(:body, :cols => 80, :rows => 30)
    %tr
      %th Tags
      %td=f.text_field :pending_tags
    %tr
      %th Public
      %td=f.check_box :public
    %tr
      %th Accepts comments
      %td=f.check_box :accepts_comments
  %p=f.submit 'Create'
%h2
  ==Preview (#{link_to_update_preview})
  =observe_excerpt
  =observe_body
  =image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none;'
  -# TODO: graceful non-JS fallback
#preview=excerpt_and_body_html
%p=link_to 'back', posts_path
