=breadcrumbs link_to('Blog', posts_path), @post.title
.post
  -@page_title = @post.title
  %h1.major=@post.title
  .when
    =timeinfo @post
    by
    =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
  .excerpt=@post.excerpt.w :base_heading_level => 1
  #body=@post.body.w :base_heading_level => 1
= render 'shared/tags', taggable: @post
-if @post.accepts_comments? || @post.comments_count != 0
  -# TODO: likely able to extract this into a shared partial
  %h3.major Comments
  %ol#comments.boxed
    =render @comments
  %h4.major Add a comment
  %p
    Comments are now closed for this post.
