-if @post.public?
  -atom_link @post
=breadcrumbs link_to('Blog', posts_path), @post.title
.post
  -@page_title = @post.title
  %h1.major=@post.title
  .when
    =timeinfo @post
    by
    =mail_to APP_CONFIG['admin_email'], APP_CONFIG['admin_name']
  .excerpt=@post.excerpt.w :base_heading_level => 1
  #body=@post.body.w :base_heading_level => 1
=render 'shared/tags', :tags => @post.tags
%p.links
  -if admin?
    =link_to 'edit', edit_post_path(@post)
  =link_to 'all posts', posts_path
-if @post.accepts_comments? || @post.comments_count != 0
  -# TODO: likely able to extract this into a shared partial
  %h2.major
    Comments
    =feed_icon post_path(@post, :format => :atom)
  %ol#comments.bubbles
    =render @comments
  %h2.major Add a comment
  -if @comment
    #ajax-flash
    #comment-form
      .links=link_to 'add a comment', new_post_comment_path(@post)
  -else
    %p
      Comments are now closed for this post. You can discuss it further in
      the #{link_to 'forums', forums_path}.
-content_for :javascript do
  :javascript
    ajax_comment_form('#{new_post_comment_path @post}');
