// this can be merged back into main display.css file because it is general
ol#comments {
  .comment.private {
    // could also add a "watermark" style padlock background to the blockquote here
    cite:after {
      @include icon($fa-var-lock);
    }
  }
}

// this will eventually be general too (used by topic comments as well)
@mixin comment-box($background-color, $border-color) {
  background: $background-color;
  border: 1px solid $border-color;
  cite {
    border-bottom: 1px solid $border-color;
  }
}

#comments.boxed {
  padding-left: 0; // webkit override

  > li {
    @include border-radius(4px);
    @include comment-box(#f7f7f7, #cccccc);
    list-style: none;
    padding: 0;
    white-space: nowrap;
    > blockquote {
      margin: 0;
      white-space: normal;
      // suppress pull quotes
      &:after, &:before {
        content: "";
      }
      > ul, > ol {
        margin: {
          bottom: 12px;
          top: 12px;
        };
      }
      > p, li {
        color: #666;
      }
    }
    cite {
      @include clearfix;
      background: #fdfdfd;
      display: block;
      font-size: small;
      font-style: normal;
      padding: 5px 10px;
      white-space: normal;

      .edit {
        float: right;
      }
    }
    &:nth-child(even) {
      @include comment-box(#eaeaea, #cccccc);
    }
    &.admin {
      // BUG: not used yet?
      @include comment-box(white, #cccccc);
    }
    &.private {
      @include comment-box(white, #cccccc);
    }
    &:target {
      background: $active-fragment-background-color;
      @include box-shadow;
    }
  }
}
