// pure-CSS speech bubbles:
//   http://nicolasgallagher.com/pure-css-speech-bubbles/
//   http://stackoverflow.com/questions/8896320/pure-css-speech-bubble-with-border
//
// suppress pull quotes, instead show speech bubble triangle
%triangle {
  @include opacity(1);
  border-bottom: 0;
  border: 10px solid transparent;
  content: " ";
  display: block;
  height: 0;
  left: 60px;
  overflow: hidden;
  top: inherit;
  width: 0;
}

@mixin comment-bubble($background-color, $border-color) {
  > blockquote {
    border: 2px solid $border-color;
    background: $background-color;
    &:after {
      border-top-color: $border-color;
    }
    &:before {
      border-top-color: $background-color;
    }
  }
}

#comments.bubbles {
  > li {
    @include comment-bubble(#f7f7f7, #cccccc);
    list-style-type: none;
    cite {
      display: block;
      font-style: normal;
      padding-top: 20px;
      position: relative;
      margin: {
        left: 1em;
        top: -22px;
      };
    }
    > blockquote {
      @include border-radius(1em);
      margin-bottom: 20px;
      &:after {
        @extend %triangle;
        bottom: -20px;
        z-index: 1;
      }
      &:before {
        @extend %triangle;
        bottom: -17px;
        z-index: 2;
      }
    }
    &:nth-child(even) {
      @include comment-bubble(#eaeaea, #cccccc);
    }
    &.admin {
      @include comment-bubble(white, #666666);
    }
    &:target > blockquote {
      background: $active-fragment-background-color;
      @include box-shadow;
      &:before {
        border-top-color: $active-fragment-background-color;
      }
    }
  }
  blockquote {
    > ol, > ul {
      // lists look crap if they are the first or last item in the bubble
      margin: {
        bottom: 12px;
        top: 12px;
      };
    }
  }
}
