// this can be merged back into main display.css file because it is general
ol#comments {
  .comment.private {
    // could also add a "watermark" style padlock background to the blockquote here
    cite:after {
      @include icon($fa-var-lock);
    }
  }
}

#comments.boxed {
  padding-left: 0; // webkit override

  > li {
    @include border-radius(4px);
    background: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    word-break: break-word;
    > blockquote {
      margin: 0;
      white-space: normal;
      // suppress pull quotes
      &:after, &:before {
        content: "";
      }
      > ul, > ol {
        margin: {
          bottom: 12px;
          top: 12px;
        };
      }
      > p, li {
        color: #666;
      }
    }
    cite {
      @include clearfix;
      background: #fdfdfd;
      border-bottom: 1px solid #ccc;
      display: block;
      font-size: small;
      font-style: normal;
      padding: 5px 10px;
      white-space: normal;

      .edit {
        float: right;
      }
    }
    pre {
      word-break: normal;
    }
    &:target {
      background: $active-fragment-background-color;
      @include box-shadow;
    }
  }
}
