// basic appearance
html {
  // http://aestheticallyloyal.com/public/optimize-legibility/
  text-rendering: optimizeLegibility;
}

@include establish-baseline;

body {
  background: $footer-color;
  font-family: $light-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include margin-leader(1);
  @include margin-trailer(0);
  color: #333;
  font-family: $heavy-family;
  font-weight: normal;
}

h1 {
  @include adjust-font-size-to($xxx-large);
}

h2 {
  @include adjust-font-size-to($xx-large);
}

h3 {
  @include adjust-font-size-to($x-large);
}

h4 {
  @include adjust-font-size-to($larger);
}

h5 {
  @include adjust-font-size-to($large);
}

h6 {
  @include adjust-font-size-to($normal);
}

h1.major {
  border-bottom: 2px solid #ccc;

  a:focus,
  a:hover {
    text-decoration: none;
    color: #ee7714;
  }
}

h2.major {
  border-bottom: 1px solid #ccc;

  a:focus,
  a:hover {
    text-decoration: none;
    color: #ee7714;
  }
}

p {
  margin-top: 1em;
}
p, li {
  color: #666;
}

li {
  list-style: disc;
  margin-top: .5em;
}

pre {
  background-color: #fdf6e3;
  border: 1px solid silver;
  color: #657b83;
  line-height: 1.5em;
  margin-top: 1em;
  overflow: auto;
  padding: 0 1em 1px;

  span.line-number {
    @include user-select(none);
    counter-increment: line-number;
    text-align: right;
    float: left;
    margin-left: -1.5em;
    margin-right: .5em;
    padding-right: .5em;
    border-right: 1px solid silver;
    width: 3em;
    color: silver;
    background: #ffeeee;
  }

  span.line-number:before {
    content: counter(line-number);
  }

  // these based on Vim colorscheme because that's what I'm used to looking at
  span.added-syntax {
    color: #080;
  }

  span.boolean-syntax {
    color: #cd0000;
  }

  span.comment-syntax {
    color: #00e;
  }

  span.constant-syntax {
    color: #1a8b0a;
  }

  span.deleted-syntax {
    color: #c00;
  }

  span.hunk-header-syntax {
    color: #009c9c;
  }

  span.identifier-syntax {
    color: #458b73;
  }

  span.keyword-syntax {
    color: #1673cc;
  }

  span.numeric-literal-syntax {
    color: #fc8a0b;
  }

  span.preprocessor-syntax {
    color: #1673cc;
  }

  span.statement-syntax {
    color: #b02f5f;
  }

  span.string-literal-syntax {
    color: #0068ab;
  }

  span.prompt-syntax {
    @include user-select(none);
  }

  span.symbol-syntax {
    color: #fc8a0b;
  }
}

// for the benefit of Safari (Firefox is fine):
// for super-wide pre spans inside tables Safari will grow the table as large as need be to avoid adding scrollbars to the pre
// block; this has the unwanted side-effect of adding scrollbars to the window and making the rest of the text horribly
// inconvenient to read
table pre {
  max-width: 640px;
}

code, pre, textarea, tt {
  font-family: $mono-family;
}

textarea {
  font-size: 1em;
}

code, tt {
  color: #660000;
  padding: 0 .1em;
}

blockquote {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  min-height: 32px;
  margin-left: 1em;
  margin-right: 2em;

  &:after,
  &:before {
    @include opacity(.1);
    font-size: 4em;
    position: absolute;
  }

  &:after {
    content: "\201c";
    left: 0;
    top: 0;
  }

  &:before {
    bottom: 0;
    content: "\201d";
    right: 0;
  }

  p, li {
    color: #999;
  }
}

// links

a {
  color: #2971a7;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:visited {
    font-weight: normal;
  }

  img {
    // for Firefox:
    border: none;
  }
}

a.external:after {
  @include icon($fa-var-external-link);
  display: inline-block;
  margin-left: .25em;
  text-decoration: none;
}

a.mailto:after {
  @include icon($fa-var-envelope-o);
  display: inline-block;
  margin-left: .25em;
  text-decoration: none;
}

// overall page layout

#breadcrumbs {
  margin: 10px 0 0;
  font-size: .8em;
}

#content-wrapper {
  background: #fff;
}

#content {
  background: #fff;
  clear: both;
  line-height: 1.75em;
  margin: 0 auto;
  padding: .5em 2em 1em;

  @include respond-to(desktop) {
    max-width: 960px;
  }
}

#posts {
  margin: 0;

  .info {
    text-align: right;
  }
}

// CSS hacks
.clearboth {
  clear: both;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

footer.global {
  background: $footer-color;
  border-top: 1px solid silver;
  clear: both;
  font-size: smaller;

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    list-style-type: none;

    a {
      display: inline-block;
      padding: 1em;
    }
  }
}

div.two-columns {
  float: left;
  width: 50%;
  margin-bottom: 3em;
}

div.column {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

// flashes

#error,
#notice,
.error,
.notice {
  @include border-radius(3px);
  font-size: small;
  margin: 1em;
  padding: 1em 1em 1em 36px;

  ul {
    margin: 0;
  }

  li {
    color: black;
  }
}

#error,
.error {
  background: #f9b8be;
  border: 1px solid #b77d74;
}

#notice,
.notice {
  background: #72a384;
  border: 1px solid #72a384;
}

// Ajax

// subtle error feedack for failed Ajax requests
.ajax_error {
  background: #f9b8be;
}

[data-editable]:not(.editing):hover {
  outline: 1px dashed silver;
  position: relative;
}

// pagination

ul.pagination {
  font-size: .75em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;

  li {
    display: inline-block;
    padding: 0 5px;

    &:first-child {
      display: none; // hide meta data on small screens
      padding: 0;

      @include respond-to(small-tablet) {
        display: inline-block;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .first:before {
    @include icon($fa-var-fast-backward);
  }

  .last:after {
    @include icon($fa-var-fast-forward);
  }

  .prev:before {
    @include fa-icon-flip(-1, 1, 0);
    @include icon($fa-var-play);
  }

  .next:after {
    @include icon($fa-var-play);
  }

  .first:before,
  .last:after,
  .prev:before,
  .next:after {
    display: inline-block;
    margin: 0 2px;
    text-decoration: none;
  }

  .disabled {
    color: gray;
  }
}

// tables
table {
  font-size: small;
}

// tables with header cells on the left
table tbody tr th {
  text-align: right;
}

// tables with header cells along the top
table thead tr th {
  text-align: center;
  border-bottom: 1px silver solid;
  border-right: 1px silver solid;
}

td, th {
  padding: .5em;
}

th {
  background: #f7f7f7;
}

th.ascending a:after {
  @include icon($fa-var-sort-desc);
  display: inline-block;
  margin-left: .25em;
  text-decoration: none;
}

th.descending a:after {
  @include icon($fa-var-sort-asc);
  display: inline-block;
  margin-left: .25em;
  text-decoration: none;
}

tr {
  background: #f7f7f7;

  &:nth-child(even) {
    background: #eaeaea;
  }
}

// tags

.cloud {
  text-align: center;
  a {
    padding: .5em;
  }
}

.filterbox {
  float: right;
  max-width: 15em;
  margin: 1em;
  border: 1px solid gray;
  @include border-radius(.33em);
  @include box-shadow(.33em #aaa);
  padding: 1em;
  h3 {
    margin-top: 0;
  }
  p {
    font-size: .75em;
  }
}

ul.taggables {
  list-style-type: none;
  padding: 0;
}

a.tags-link {
  text-decoration: none;
}

// general appearance

.when {
  @include margin-trailer(1);

  font-size: .75em;
  color: #bbb;

  &:before {
    @include icon($fa-var-calendar);
    display: inline-block;
    margin-right: .25em;
    text-decoration: none;
  }

  a {
    color: #bbb;
    font-weight: normal;
  }
}

.hoverlink {
  visibility: hidden;
  font-size: .75em;
  color: #bbb;
  border-left: 1px solid silver;
  padding-left: 6px;
  a {
    color: #bbb;
    font-weight: normal;
  }
}

.comment:focus .hoverlink,
.comment:hover .hoverlink {
  visibility: visible;
}

.snippet:focus .hoverlink,
.snippet:hover .hoverlink {
  visibility: visible;
}

.deleted {
  color: #bbb;
  a {
    color: #bbb;
  }
}

.highlight {
  background: #eee;
}

// for non-existent wiki links
.redlink {
  color: red;
}

// consider per-controller custom CSS for this kind of class
.post {
  @include margin-leader(3);

  &:first-of-type {
    @include margin-leader(1);
  }
}

.info {
  font-size: smaller;
  color: #ddd;
  padding: 0;
}

.comments-link {
  float: left;

  &:before {
    @include icon($fa-var-comments-o);
    display: inline-block;
    margin-right: .25em;
    text-decoration: none;
  }
}

@mixin button {
  @include border-radius(5px);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .5));
  background: #007d9a;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  border: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.75em;
  margin: 0 .25em .25em 0;
  padding: .5em 1.5em;
  position: relative;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
  width: 100%;

  @include respond-to(small-tablet) {
    width: auto;
  }

  &:focus,
  &:hover {
    background: #77bed2;
    color: white;
    text-decoration: none;
  }

  &:active {
    top: 1px;
  }

  &.destructive {
    background: #a9014b;

    &:focus,
    &:hover {
      background: #630030;
    }
  }

  &.disabled {
    background: silver;

    &:focus,
    &:hover {
      background: silver;
    }
  }
}

input[type=submit] {
  @include button;
}

// make submit button line up with lists of label/input pairs in forms
li > input[type=submit] {
  margin-left: 21%;
}

input[type=button] {
  @include button;
}

form.button_to {
  display: inline;
  div {
    display: inline;
  }
}

// links which look like buttons
.links {
  margin: {
    top: 2.5em;
    bottom: 2.5em;
  }

  a {
    @include button;
  }
}

// make buttons look smaller when they are in table cells
@mixin small-button {
  @include border-radius(2px);
  font-size: .75em;
  font-weight: normal;
  padding: 3px 15px;
}

td.links {
  a {
    @include small-button;
  }

  form input {
    @include small-button;
  }
}

// products
// NOTE: could potentially split this off into a separate CSS file
.product {
  clear: both;

  .icon img {
    float: left;
    margin: 1em;
  }
}

.prev-next {
  font-size: smaller;
  margin-top: -1em;
  text-align: right;
}

// live previews
#preview_link i {
  margin-left: .25em;
}
