$form-padding: 10px;
$focus-color: #fcfcfc;
$focus-border-color: #dcedfe;

.field-row {
  @include border-radius(3px);
  @include box-shadow(0 1px 2px 0 tint($border-color, 10) inset);
  @include margin-leader(.5);
  @include margin-trailer(.5);
  @include leading-border($lines: .25);
  @include trailing-border($lines: .25);
  border: 1px solid $border-color;
  padding-left: $form-padding;
  padding-right: $form-padding;

  &.focused {
    @include box-shadow(1px 1px 2px 0 $focus-border-color inset,
                        -1px -1px 2px 0 $focus-border-color inset);
    background: $focus-color;
    border-color: $focus-border-color;
  }

  // make it more obvious that (almost) the entire field row is clickable
  &.check-box *:hover {
    cursor: pointer;
  }

  label {
    display: block;
  }

  input[type=email],
  input[type=password],
  input[type=text],
  textarea {
    background-color: inherit;
    border: 0;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  // Prevent webkit autofill from ruining everything with some unsightly yellow
  // styling; this requires a cunning trick, as setting a new background-color
  // is not enough; see:
  //
  //   http://stackoverflow.com/a/13860010
  //
  input[type=email],
  input[type=password],
  input[type=text] {
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 150px #fff inset;

      &:focus {
        -webkit-box-shadow: 0 0 0 150px $focus-color inset;
      }
    }
  }
}

.label-text {
  @include adjust-font-size-to($small);
  display: block;
  font-weight: bold;
}

.annotation {
  @include adjust-font-size-to($smaller);
  color: $aside-text;
  display: block;
  margin-top: 0;
}
