table {
  width: 100%;
}

.issue {
  table {
    input[type=text] {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
  }
  th {
    padding: 1em;
    vertical-align: top;
    background: white;
  }
  th + td {
    padding-top: -0.5em;
    border-bottom: 1px solid #cccccc;
    width: 85%;
  }
}

.issue.private {
  h1 {
    position: relative;
  }
  h1:after {
    @include icon($fa-var-lock);
    display: inline-block;
    margin-left: 0.25em;
    position: absolute;
    right: 0;
  }
}
