table.issue-metadata {
  margin: 1em 0;
}

.issue-metadata {
  th {
    font-size: small;
    padding: 0 40px 0 16px;
    text-align: left;
  }

  td {
    font-size: small;
    width: 100%
  }
}

.issue {
  &.private {
    h1 {
      position: relative;

      &:after {
        @include icon($fa-var-lock);
        display: inline-block;
        margin-left: .25em;
        position: absolute;
        right: 0;
      }
    }
  }
}

#issue_search {
  margin-bottom: 1em;
}
