// general-purpose mixins that can be imported for use in other templates

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

// http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting
@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin respond_to($media) {
  @if $media == tablet {
    @media only screen and
      (max-width: 768px) and
      (orientation: portrait) { @content; }
  }
  @else if $media == tablet_landscape {
    @media only screen and
      (max-width: 768px) and
      (orientation: landscape) { @content; }
  }
  @else if $media == small_tablet {
    @media only screen and
      (max-width: 480px) and
      (orientation: portrait) { @content; }
  }
  @else if $media == small_tablet_landscape {
    @media only screen and
      (max-width: 480px) and
      (orientation: landscape) { @content; }
  }
  @else if $media == mobile {
    @media only screen and
      (max-width: 320px) and
      (orientation: portrait) { @content; }
  }
  @else if $media == mobile_landscape {
    @media only screen and
      (max-width: 320px) and
      (orientation: landscape) { @content; }
  }
}
