// third-party (Compass)
$default-box-shadow-color: #999;
$default-box-shadow-h-offset: 5px;
$default-box-shadow-v-offset: 5px;
$rhythm-unit: 'rem';

// app-specific
$active-fragment-background-color: #f2ffff;

// fonts
$light-family: 'Open Sans', sans-serif;
$heavy-family: 'Yanone Kaffeesatz', sans-serif;
$mono-family: Inconsolata, monospace;
