-page_title "Edit email: #{@email.address}"
=render 'shared/error_messages', :model => @email
=form_for @email, :url => user_email_path(@user, @email) do |f|
  %table.main
    %tbody
      %tr
        %th User
        %td
          =link_to @user.display_name, user_path(@user)
          |
          =link_to 'edit', edit_user_path(@user)
      %tr
        %th Address
        %td=f.text_field :address
      %tr
        %th Verified?
        %td=f.check_box :verified
      %tr
        %th Deleted?
        %td=f.check_box :deleted
  %p=f.submit 'Save changes'
