-@page_title = @email.address
=breadcrumbs link_to(@user.display_name, user_path(@user)), @page_title
%h1.major=@page_title
=render 'shared/error_messages', :model => @email
=form_for @email, :url => user_email_path(@user, @email) do |f|
  %ul
    %li
      =f.label :address
      =f.text_field :address
    %li
      =f.label :verified, 'Verified?'
      =f.check_box :verified
    %li
      =f.label :deleted, 'Deleted?'
      =f.check_box :deleted
    %li=f.submit 'Save changes'
.links
  =link_to 'edit user', edit_user_path(@user)
