-@page_title = @email.address
=breadcrumbs link_to(@user.display_name, @user), @page_title
%h1.major=@page_title
%table
  %tr
    %th Address
    %td=@email.address
  %tr
    %th Verified?
    %td= icon(@email.default? ? 'check' : 'check-empty')
    -# TODO: link to re-send verification email; not link to /confirm/new just yet because that only works for currently-logged-in user
  %tr
    %th Default?
    %td= icon(@email.default? ? 'check' : 'check-empty')
