-form_for :locale, :html => { :method => :put }, :url => locale_path(@locale) do |form|
  %table
    %tr
      %th Code
      %td
        =form.text_field :code
    %tr
      %th Description
      %td
        =form.text_field :description
  %p
    =submit_tag
  %p
    =link_to 'all locales', locales_path
  %p
    =link_to 'translations', locale_translations_path(@locale)