=error_messages_for :product
-form_for @product, :url => @product.new_record? ? products_path : product_path(@product), :html => { :multipart => true } do |f|
  %table.main
    %tr
      %th Name
      %td=f.text_field :name
    %tr
      %th Permalink
      %td=f.text_field :permalink
    %tr
      -# TODO: AJAX outcomplete?
      %th
        Category
        %br
        %span.annotation (Consumer, Developer, Server)
      %td=f.text_field :category
    %tr
      %th Hide from front page?
      %td=f.check_box :hide_from_front_page
    %tr
      %th
        Position
        %br
        %span.annotation (integer)
      %td=f.text_field :position
    %tr
      %th
        Description
        %br
        %span.annotation (#{wikitext_cheatsheet})
      %td=f.text_area :description
    %tr
      %th
        Header
        %br
        %span.annotation (optional, HTML)
      %td=f.text_area :header
    %tr
      %th
        Footer
        %br
        %span.annotation (optional, HTML)
      %td=f.text_area :footer
    %tr
      %th
        Bundle identifier
        %br
        %span.annotation (optional)
      %td=f.text_field :bundle_identifier
    %tr
      %th
        Icon image
        %br
        %span.annotation (optional)
      %td=f.file_field :icon, :accept => 'image/png,image/jpeg,image/gif'
  %p=f.submit(@product.new_record? ? 'Create' : 'Save')
