=render 'shared/error_messages', :model => @product
=form_for @product do |f|
  %ul
    %li
      =f.label :name
      =f.text_field :name
    %li
      =f.label :permalink
      =f.text_field :permalink
    %li
      -# TODO: AJAX outcomplete?
      =f.label :category, annotation('Category', 'Consumer, Developer, Server')
      =f.text_field :category
    %li
      =f.label :hide_from_front_page, 'Hide from front page?'
      =f.check_box :hide_from_front_page
    %li
      =f.label :position, annotation('Position', 'integer')
      =f.text_field :position
    %li
      =f.label :description, annotation('Description', "#{wikitext_cheatsheet}")
      =f.text_area :description
    %li
      =f.label :header, annotation('Header', 'optional, HTML')
      =f.text_area :header
    %li
      =f.label :footer, annotation('Footer', 'optional, HTML')
      =f.text_area :footer
    %li
      =f.label :bundle_identifier, annotation('Bundle identifier', 'optional')
      =f.text_field :bundle_identifier
    %li=f.submit
