=error_messages_for :product
-form_for @product, :url => products_path, :html => { :multipart => true } do |f|
  %table.main
    %tr
      %th Name
      %td=f.text_field :name
    %tr
      %th Permalink
      %td=f.text_field :permalink
    %tr
      %th
        Description
        %br
        %span.annotation==(#{wikitext_cheatsheet})
      %td=f.text_area :description
    %tr
      %th
        Header
        %br
        %span.annotation (optional, HTML)
      %td=f.text_area :header
    %tr
      %th
        Footer
        %br
        %span.annotation (optional, HTML)
      %td=f.text_area :footer
    %tr
      %th
        Bundle identifier
        %br
        %span.annotation (optional)
      %td=f.text_field :bundle_identifier
    %tr
      %th
        Icon image
        %br
        %span.annotation (optional)
      %td=f.file_field :icon, :accept => 'image/png,image/jpeg,image/gif'
  %p=f.submit 'Create'
