-content_for :javascript do
  =javascript_include_tag 'products'
=breadcrumbs 'Products'
-page_title 'Products'
-@products.each do |category, products|
  -unless category.blank?
    %h2="#{category} products"
  -products.each do |product|
    %div[product]
      %h3=link_to product.name, product_path(product)
      =raw product.description
