#breadcrumbs
  =link_to 'Home', root_path
  &raquo;
  Products
-page_title 'Products'
-@products.each do |category, products|
  -unless category.blank?
    %h2="#{category} products"
  -products.each do |product|
    %div[product]
      %h3=link_to product.name, product_path(product)
      -if product.icon_path
        .icon=image_tag(product.icon_path)
      =product.description.w if product.description
