-content_for :css do
  =stylesheet_link_tag 'products'
-content_for :javascript do
  =javascript_include_tag 'products'
-@page_title = product_page_title @product, @page
#product
  =@product.header
  =@page.body if @page
  =@product.footer
