-content_for :javascript do
  =javascript_include_tag 'products'
-@page_title = product_page_title @product, @page
-if @page && !@page.front
  =breadcrumbs link_to('Products', products_path),
    link_to(@product.name, product_path(@product)),
    @page.title
-else
  =breadcrumbs link_to('Products', products_path), @product.name
#product
  =raw @product.header
  =@page.body_html if @page
  =raw @product.footer
