%h1.major Support
=link_to 'forums', forums_path
-# mailing lists etc
-#recent forum posts (topics? comments?) will want to fragment cache this
-#recent news,
-#recent mailing list posts,
-#and above all a link to the lost serial system etc
-#and a contact form
%h2.major Issues
%h3 Recently modified
=render :partial => 'issues/issues'
.links
  =link_to 'open a ticket', new_issue_path
