-content_for :title do
  403 forbidden
%h1 Forbidden
%p Sorry, but access to the requested resource is forbidden.
%p
  Please
  %a.mailto(href='mailto:greg@hurrell.net') contact me
  if you believe this is in error.
