%h1 Not found
%p
  The requested item could not be found. Please try
  %a(href='/search') searching
  or explore:
.two-columns
  %h2 Products
  %ul
    %li
      %a(href='/synergy') Synergy
    %li
      %a(href='http://advance.wincent.com/') Synergy Advance
    %li
      %a(href='http://winswitch.wincent.com/') WinSwitch
    %li
      %a(href='http://hextrapolate.wincent.com/') Hextrapolate
    %li
      %a(href='http://install.wincent.com/') Install
    %li
      %a(href='http://wincent.com/a/products/') More...
.two-columns
  %h2 Sections
  %ul
    %li
      %a(href='/blog/') Blog
    %li
      %a(href='/wiki/') Wiki
    %li
      %a(href='/forums/') Forums
    %li
      %a(href='/support') Support
%p(style='clear:both;')
  Please
  %a.mailto(href='mailto:win@wincent.com') contact me
  if you think that you have found a broken link
  %em within
  wincent.com. If the broken link originates on another website please inform the originating site.
