-content_for :title do
  404 not found
%h1 Not found
%p
  The requested item could not be found.
%p
  Please
  %a.mailto(href='mailto:win@wincent.com') contact me
  if you think that you have found a broken link
  %em within
  wincent.com. If the broken link originates on another website please inform the originating site.
