-content_for :title do
  422 rejected
/ This is HTTP status code 422 in the "Rails" sense, not in the RFC 4918 (WebDAV) sense.
%h1 The change you wanted was rejected
%p The most likely cause is that your session expired due to inactivity.
%p
  Try going back,
  %em then refreshing the page
  (this will create a new session), and then resubmitting.
%p
  Please
  %a.mailto(href='mailto:greg@hurrell.net') contact me
  if you need assistance.
