%h1 Internal server error
%p Sorry, but something went wrong. Information about the problem has been logged and will be analyzed.
%p
  Please
  %a.mailto(href='mailto:win@wincent.com') contact me
  if you need assistance.
