!!! XML
!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
    %title
      wincent.com:
      =@page_title.blank? ? controller.controller_name : h(@page_title)
    =stylesheet_link_tag 'display'
    =yield :css
    =javascript_include_tag 'jquery-1.3.2.min'
    =javascript_include_tag :defaults
    =dynamic_javascript_include_tag
    =@atom_link unless @atom_link.blank?
  %body
    =named_anchor 'top'
    #header
      #logo
        -haml_tag :a, :href => root_url, :title => 'Wincent front page' do
          =image_tag('logo.png')
      %h1=link_to 'Wincent', root_url
      %ul#navbar
        %li#login=link_to 'log in', login_url
        %li#logout=link_to 'log out', logout_url
        -#%li=link_to 'Products', products_url
        %li=link_to 'Products', 'http://wincent.com/a/products/'
        -#%li=link_to 'Store'
        %li=link_to 'Blog', posts_url
        %li=link_to 'Wiki', articles_url
        -# not sure whether we'll leave this forums link in the navbar forever
        %li=link_to 'Forums', forums_url
        %li=link_to 'Support', support_url
        -#%li=link_to 'About'
        %li.last
          -# TODO: make this unobtrusive
          =link_to_function 'Search', "jQuery('#search_box').toggle(); jQuery('#search_box').focus();", :href => search_index_url
          %form{:id => 'search', :action => search_index_url, :method => 'post'}
            =text_field_tag :query, params[:query], :size => 20, :id => :search_box, :style => 'display:none;'
    #content
      #cacheable-flash
      =yield
    #footer
      =mail_to APP_CONFIG['admin_email'], 'Contact', :title => "Email me at #{APP_CONFIG['admin_email']}"
      |
      =link_to 'Copyright and legal information', url_for(:controller => 'misc', :action => 'legal', :protocol => 'https')
