!!! 5
%html(lang='en-US')
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    %title
      -# TODO: suppress the wincent.com on some pages (products#show, for example)
      wincent.com:
      =@page_title.blank? ? controller.controller_name : @page_title
    =stylesheet_link_tag 'display'
    =stylesheet_link_tags
    =yield :css
    =javascript_include_tag 'jquery'
    =javascript_include_tag 'application'
    =yield :javascript
    =dynamic_javascript_include_tag
    =@atom_link unless @atom_link.blank?
  %body
    =named_anchor 'top'
    #header
      #meta
        %h1
          %a#logo(href=root_path title='Wincent front page')
            =image_tag('logo.png')
          =link_to raw('Wincent &mdash; Software for your Mac'), root_path
      %ul#navbar
        %li{:class => navbar_selected?('products')}
          =link_to 'Products', products_path
          %ul
            %li
              Desktop products
              %ul
                -#%li Clipboard Commando
                %li=link_to 'Synergy', '/products/synergy', :title => 'Simple and effective iTunes controller'
                %li=link_to 'Synergy Advance', 'http://wincent.com/a/products/synergy-advance/', :title => 'The multipurpose audio companion'
                -#%li REnamer
                %li=link_to 'WinSwitch', 'http://wincent.com/a/products/winswitch/', :title => "Enhanced replacement for Apple's Fast User Switching menu"
            %li
              Developer products
              %ul
                %li=link_to 'atosym', 'http://wincent.com/a/products/atosym/', :title => 'Address-to-symbol conversion for the DWARF format'
                %li=link_to 'Command-T', '/products/command-t', :title => 'Fast file navigation for Vim'
                %li=link_to 'Hextrapolate', 'http://wincent.com/a/products/hextrapolate/', :title => 'Convenient number conversion tool'
                %li=link_to 'Install', 'http://wincent.com/a/products/install/', :title => 'Simple and powerful deployment solution'
                -#%li login-tool
                %li=link_to 'Walrus', '/products/walrus', :title => 'Object-oriented templating system'
                -#%li Wincent Icon Utility
                %li=link_to 'Wincent Login Tool', 'http://git.wincent.com/login-tool.git', :title => 'Command-line management of login items'
                %li=link_to 'Wincent Strings Utility', 'http://wincent.com/a/products/wincent-strings-util/', :title => 'Localization tool'
                -#%li WOBezel
                -#%li WOHotKey
                %li=link_to 'WOPublic', 'http://git.wincent.com/WOPublic.git', :title => 'BSD-licensed Objective-C source code'
                %li=link_to 'WOTest', 'http://wincent.com/a/products/wotest/', :title => 'Objective-C Unit Testing framework'
            %li
              Server products
              %ul
                %li=link_to 'Bansshee', 'http://wincent.com/a/products/bansshee/', :title => 'Defense against SSH dictionary attacks'
                %li=link_to 'Wikitext', '/products/wikitext', :title => 'Fast wikitext-to-HTML translator'
                -#%li wincent.com codebase
        %li{ :class => navbar_selected?('blog') }=link_to 'Blog', posts_path
        %li{ :class => navbar_selected?('wiki') }=link_to 'Wiki', articles_path
        %li{ :class => navbar_selected?('forums') }=link_to 'Forums', forums_path
        %li{ :class => navbar_selected?('support') }=link_to 'Support', support_path
        %li{ :class => navbar_selected?('about') }=link_to 'About', about_path
        %li{ :class => navbar_selected?('search') }
          =link_to 'Search', new_search_path, :id => 'search-link'
          %form(id='search' action=searches_path method='post')
            =text_field_tag :query, params[:query], :size => 20, :id => :search_box, :style => 'display:none;'
        %li#login=link_to 'log in', login_path
        %li#logout=link_to 'log out', logout_path
    #header-shadow
    #content
      #cacheable-flash
      -# BUG: this is a bit of kludge so that we don't have to define a
      -# separate layout just to get breadcrumbs on our wikitext pages
      -# handled by the "misc" controller
      -if controller.kind_of? MiscController
        =breadcrumbs params[:action].capitalize
      =yield
    #footer
      %ul
        %li=mail_to APP_CONFIG['admin_email'], 'contact',
          :title => "Email me at #{APP_CONFIG['admin_email']}",
          :class => 'mailto'
        %li=link_to 'legal', '/misc/legal'
