!!! XML
!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
    %title wincent.com
    =stylesheet_link_tag 'display'
  %body
    #content
      =yield
    #footer
      =link_to 'Copyright and legal information', '/misc/legal', :popup => true
      &nbsp;&nbsp;|&nbsp;&nbsp;
      =mail_to APP_CONFIG['admin_email'], 'Contact', :title => "Email me at #{APP_CONFIG['admin_email']}", :class => 'mailto'
