!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
    %title wincent.com
    =stylesheet_link_tag 'display'
  %body
    #content
      =yield
    #footer
      ==Copyright &copy; 1997-#{Time.new.year}
      =mail_to APP_CONFIG['admin_email'], 'Wincent Colaiuta', :title => "Email me at #{APP_CONFIG['admin_email']}"
