!!! 5
%html(lang='en-US')
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    %title
      wincent.com:
      =yield :title
    %link{ href: APP_CONFIG['google_web_fonts'], rel: 'stylesheet', type: 'text/css', media: 'screen' }
    %link(href='/assets/application.css' rel='stylesheet' type='text/css' media='screen')
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35574060-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %nav.global
      %h1
        %a(href='/') Wincent
      %ul#navbar
        %li
          %a(href='/products') Products
          %ul
            %li
              Desktop products
              %ul
                %li
                  %a(href='/products/synergy' title='Simple and effective iTunes controller')
                    Synergy
                %li
                  %a(href='http://wincent.com/a/products/synergy-advance/' title='The multipurpose audio companion')
                    Synergy Advance
                %li
                  %a(href='http://wincent.com/a/products/winswitch/' title="Enhanced replacement for Apple's Fast User Switching menu")
                    WinSwitch
            %li
              Developer products
              %ul
                %li
                  %a(href='http://wincent.com/a/products/atosym/' title='Address-to-symbol conversion for the DWARF format')
                    atosym
                %li
                  %a(href='/products/command-t/' title='Fast file navigation for Vim')
                    Command-T
                %li
                  %a(href='http://wincent.com/a/products/hextrapolate/' title='Convenient number conversion tool')
                    Hextrapolate
                %li
                  %a(href='http://wincent.com/a/products/install/' title='Simple and powerful deployment solution')
                    Install
                %li
                  %a(href='/products/walrus' title='Object-oriented templating system')
                    Walrus
                %li
                  %a(href='/products/walrat' title='Ruby Packrat parser generator')
                    Walrat
                %li
                  %a(href='http://git.wincent.com/login-tool.git' title='Command-line management of login items')
                    Wincent Login Tool
                %li
                  %a(href='http://wincent.com/a/products/wincent-strings-util/' title='Localization tool')
                    Wincent Strings Utility
                %li
                  %a(href='http://git.wincent.com/WOPublic.git' title='BSD-licensed Objective-C source code')
                    WOPublic
                %li
                  %a(href='http://wincent.com/a/products/wotest/' title='Objective-C Unit Testing framework')
                    WOTest
            %li
              Server products
              %ul
                %li
                  %a(href='http://wincent.com/a/products/bansshee/' title='Defense against SSH dictionary attacks')
                    Bansshee
                %li
                  %a(href='/products/wikitext' title='Fast wikitext-to-HTML translator')
                    Wikitext
        %li
          %a(href='/blog') Blog
          %ul
            %li
              %a(href='/snippets') Snippets
            %li
              %a(href='/twitter') Tweets
        %li
          %a(href='/wiki') Wiki
        %li
          %a(href='/forums') Forums
        %li
          %a(href='/support') Support
        %li
          %a(href='/search') Search
    #content-wrapper
      #content
        =yield
    %footer.global
      %ul
        %li
          %a.mailto(href='mailto:win@wincent.com' title='Email me at win@wincent.com') contact
        %li
          %a(href='/misc/legal') legal
