!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
    %title
      wincent.com:
      =@page_title.blank? ? controller.controller_name : h(@page_title)
    =stylesheet_link_tag 'display'
    =javascript_include_tag :defaults
  %body
    =named_anchor 'top'
    #header
      #logo
        -open :a, :href => home_path, :title => 'Wincent front page' do
          =image_tag('logo.png')
      %h1=link_to 'Wincent', home_path
      %ul#navbar
        %li=link_to 'Products'
        %li=link_to 'Store'
        %li=link_to 'Support', issues_path
        %li=link_to 'Blog', blog_index_path
        %li=link_to 'Wiki', wiki_index_path
        %li=link_to 'About'
    #sidebar
      -# not sure if i even want a side bar
      -# maybe a secondary navigation bar under the main one, context sensitive
      -# content for sidebar
    #content
      -flash.each do |key, message|
        =content_tag :div, message, :id => key
      =yield
    #footer
      ==Copyright &copy; 1997-#{Time.new.year} #{mail_to('win@wincent.com', 'Wincent Colaiuta')}.
